.sidenav-container {
  /* height: 100%; */
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.hamburger-icon{
  color:white;
  outline:none;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 24);
  background-color: white;
}

button.mat-icon-button{
  outline: none;
  border: none;
}

.sidenav-menu-content {
  color: white;
  background-color: black;
  display: flex;
}

span.fill{
  flex: 1 1 auto;
}

.logo-drawer img {
  width: 50px;
  padding-bottom: 10px;
  display: inline-block;
}

li.nav-item.search {
  display: inline-block;
}

input#navBarSearchForm {
  text-align: center;
  font-size: 22px;
  font-family: FontAwesome, 'Maven Pro', sans-serif;
  background-color: white;
  border: none;
}

.form-inline {
  display: inline-block;
  width: 80%;
}

/* .sidenav .mat-toolbar {
  background: inherit;
} */

.mat-drawer-inner-container {
  background-color: blue;
}

.header-shopping-nav {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: black;
  width: 100%; 
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  width: 20%;
}

.hidden {
  display: none;
}

.display {
  display: none;
  overflow: hidden;
}

.toolbar {
  display: none;
  list-style: none;
  width: 20%;
}

.toolbar-test {
  color: white;
}
h2 {
  color: white;
}

mat-sidenav {
  position: fixed;
  top:0;
}

button.nav-item {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: left;
  outline: 0;
  font-size: 13px;
}

button.back-button {
  color: white;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: 0;
  font-size: 13px;
  width: 100%;
  height: 100%;
  text-align: left;
}

img.logo {
  width: 110px;
  height: 20px;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

img.search-img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

span.search-user{
  font-size: 10px;
  margin-left: 5px;
}