<div class="wrapper">
  <div class="logo-drawer">
    <form [formGroup]="searchForm" class="search-form">
      <input class="form-control " type="search" placeholder="Search" formControlName="search" aria-label="Search" id="navBarSearchForm"
        [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" class="search">
        <mat-option *ngFor="let option of options" [value]="option.userName">
          <div class="search-result" (click)="searchUser(option)">
            <div class="search-res-user-img">
              <img class="search-img" [attr.src]="option['profileImgSrc']" />
            </div>
            <div class="search-res-user-details">
              <span class="search-username">{{ option['userName'] }}</span>
              <span class="search-fullname">{{ option['fullName'] }}</span>
            </div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>

  <!-- <mat-toolbar class="categories-toolbar"> -->
  <div class="cdk-virtual-scroll-data-source">
    <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="150" class="cdk-viewport" class="scroll-viewport">
      <div *cdkVirtualFor="let item of menu" class="menu-item">
        <a (click)="filterByCategory(item.name)" class="a-item">{{item.name}}
        </a>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <!-- </mat-toolbar> -->



  <!-- <div *ngIf="visible" class="filters-wrapper" [@slideInOut]="stateName"> -->





  <div class="filters">
    <mat-sidenav-container [ngClass]="sidenavClass" [hasBackdrop]="false">
      <mat-sidenav #sidenav [mode]="mode" position="end" autoFocus="false" class="mat-sidenav">
        <button (click)="toggleSidenav()" class="button-filters show-more">{{seeMoreFilters}} </button>
        <button *ngIf="visible" (click)="clearSideFiltersSelection()" class="button-filters clear" [disabled]="!filteringChanged">clear</button>


        <div class="product-type">
          <div class="title">Prodcut type</div>
          <div class="stores items-list" *ngFor="let product of clothings | slice:0:3">
            <mat-checkbox name="product" [value]="product.id" [checked]="product.checked" labelPosition="before" (change)="onChangeCheckBox('clothings',$event,product)"
              (click)="$event.stopPropagation();"> {{product.name}}
            </mat-checkbox>
          </div>
          <button *ngIf="!openCloseProducts" (click)="SeeMoreSideFilters('clothings')" class="button-filters">{{seeMoreProducts}}</button>
          <div *ngIf="openCloseProducts" [@expandCollapse]="openCloseAnim">
            <div *ngFor="let product of clothings | slice:3:8" class="products items-list">
              <mat-checkbox name="product" [value]="product.id" [checked]="product.checked" labelPosition="before" (change)="onChangeCheckBox('clothings',$event,product)"
                (click)="$event.stopPropagation();"> {{product.name}}
              </mat-checkbox>
            </div>
          </div>
          <button *ngIf="openCloseProducts" (click)="SeeMoreSideFilters('clothings')" class="button-filters">{{seeMoreProducts}}</button>
        </div>




        <div class="stores">
          <div class="title">Stores</div>
          <div class="stores items-list" *ngFor="let store of stores | slice:0:3">
            <mat-checkbox name="store" [value]="store.id" [checked]="store.checked" labelPosition="before" (change)="onChangeCheckBox('stores',$event,store)"
              (click)="$event.stopPropagation();"> {{store.name}}
            </mat-checkbox>
          </div>
          <button *ngIf="!openCloseStores" (click)="SeeMoreSideFilters('stores')" class="button-filters">{{seeMoreStores}}</button>
          <div *ngIf="openCloseStores" [@expandCollapse]="openCloseAnim">
            <div *ngFor="let store of stores | slice:3:8" class="stores items-list">
              <mat-checkbox name="store" [value]="store.id" [checked]="store.checked" labelPosition="before" (change)="onChangeCheckBox('stores',$event,store)"
                (click)="$event.stopPropagation();"> {{store.name}}
              </mat-checkbox>
            </div>
          </div>
          <button *ngIf="openCloseStores" (click)="SeeMoreSideFilters('stores')" class="button-filters">{{seeMoreStores}}</button>
        </div>


        <div class="designers">
          <div class="title">Designers</div>
          <div class="designers items-list" *ngFor="let designer of designers | slice:0:3">
            <mat-checkbox name="designer" [value]="designer.id" [checked]="designer.checked" labelPosition="before" (change)="onChangeCheckBox('designers',$event,designer)"
              (click)="$event.stopPropagation();"> {{designer.name}}
            </mat-checkbox>
          </div>

          <button *ngIf="!openCloseDesigners" (click)="SeeMoreSideFilters('designers')" class="button-filters">{{seeMoreDesigners}}</button>
          <div *ngIf="openCloseDesigners" [@expandCollapse]="openCloseAnimDesigners">
            <div *ngFor="let designer of designers| slice:3:9" class="designers items-list">
              <mat-checkbox name="designer" [value]="designer.id" [checked]="designer.checked" labelPosition="before" (change)="onChangeCheckBox('designers',$event,designer)"
                (click)="$event.stopPropagation();"> {{designer.name}}
              </mat-checkbox>
            </div>
          </div>
          <button *ngIf="openCloseDesigners" (click)="SeeMoreSideFilters('designers')" class="button-filters">{{seeMoreDesigners}}</button>
        </div>
        <div class="price">
          <div class="title">Prices (ILS)</div>
          <div class="price items-list">
            <div *ngFor="let price of prices" class="prices items-list">
              <mat-checkbox name="price-tag" [value]="price.value" [checked]="price.checked" labelPosition="before" (change)="onChangeCheckBox('prices',$event,price)"
                (click)="$event.stopPropagation();"> {{price.value}}
              </mat-checkbox>
            </div>

          </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content *ngIf="showFilters" class="mat-sidenav-content">
        <button (click)="toggleSidenav()" class="button-filters show-more">{{seeMoreFilters}} </button>

      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>