<mat-toolbar *ngIf="!desktop" class="mat-toolbar mat-toolbar-single-row">
  <div class="back-button-container" (click)="goBackPage()">
    <img id="back-button" src="../../../assets/back.png">
  </div>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="forgot-password">FORGOTTEN PASSWORD</div>
      <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
          <label for="email">Enter your email address</label>
          <input type="text" formControlName="email" class="form-control" [ngClass]="{
              'is-invalid': submitted && f.email.errors
            }" />

          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">
              E-mail is required
            </div>
            <div *ngIf="f.email.errors.email">
              E-mail is not valid
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-dark mt-2">
              Submit
            </button>
          </div>
        </div>
      </form>

      <div *ngIf="wrongPassUser" class="alert alert-danger">
        Incorrect username
      </div>
      <div *ngIf="valid">
        <div class="veri">
          <h6>
            A verification code has been sent to your email address, please fill in the missing detailes below
          </h6>
        </div>

        <h2>RESEST YOUR PASSWORD</h2>
        <form [formGroup]="resetPassForm" (ngSubmit)="onSubmitReset()">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': r.password.errors && submittedreset }"
            />
            <div *ngIf="submittedreset && r.password.errors">
              <div *ngIf="r.password.errors.required" class="invalid-feedback">
                Password is required
              </div>
              <div *ngIf="r.password.errors.minlength" class="invalid-feedback">
                Password must be at least 6 characters
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{
                'is-invalid': submittedreset
              }" />

            <div *ngIf="resetPassForm.hasError('passwordsNotEqual')" class="invalid-feedback">
              Passwords don't match
            </div>
          </div>

          <div class="form-group">
            <label for="code">Verification code</label>
            <input type="text" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': submittedreset && r.code.errors }"
            />
            <div *ngIf="submittedreset && r.code.errors">
              <div *ngIf="r.code.errors.required" class="invalid-feedback">
                Verification code is required
              </div>
            </div>
          </div>

          <div class="form-group" style="display: inline;">
            <button class="btn btn-dark mt-2">
              Create new password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>