<div class="infinite-scroll" infiniteScroll [infiniteScrollDistance]="0.5" [infiniteScrollThrottle]="1000" (scrolled)="fetchImages()">
  <div id="main-body">
    <div class="center">
      <div class="card masonry-item" *ngFor="let post of postsToShow">
        <!-- <ngx-masonry [options]="masonryOptions" [useImagesLoaded]="false">
        <ngxMasonryItem class="card masonry-item" *ngFor="let post of postsToShow"> -->
        <div class="masonry-img">
          <img (click)="openDialog(post)" [attr.src]="post['postImgSrc']" />
        </div>
        <div class="card-text">
          <div class="description">
            {{ post['post']['description'] }}
          </div>
          <span class="price">
            {{ post['post']['price'] }}
          </span>
          <a class="store text-right" [href]="post['post']['website']" target=" _blank ">
            {{ post['post']['website'] }}
          </a>
        </div>
        <!-- </ngxMasonryItem>
      </ngx-masonry> -->
      </div>
    </div>
  </div>
</div>