<div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
</div>

<div id="main-body">
  <div class="center">
    <ngx-masonry *ngIf="!loading" [options]="masonryOptions" [useImagesLoaded]="true">
      <ngxMasonryItem [appMasonryWidth]="windowWidth" class="masonry-item" *ngFor="let post of posts">
        <img [attr.src]="post.postImgSrc" class="image-explore" (click)="openDialog(post)" />
        <div class="description">
          {{ post.post.description }}
        </div>
      </ngxMasonryItem>
    </ngx-masonry>
  </div>
</div>



<div *ngIf="loading" class="spinner">
  <app-loading-spinner></app-loading-spinner>
</div>