<!-- <body>
  <div class="center">
    <div
      *ngFor="let post of posts; let i = index"
      (deferLoad)="post.show = true"
      class="grid"
    >
      <ng-container *ngIf="post.show">
        <app-explore-post
          [post]="post"
          [itemClass]="'grid grid-item' + (i % 6)"
        ></app-explore-post>
      </ng-container>
    </div>
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="1000"
      (scrolled)="fetchImages()"
    ></div>
  </div>
</body> -->

<body>
  <div class="center">
    <ngx-masonry [useImagesLoaded]="true">
      <ngxMasonryItem class="masonry-item" *ngFor="let image of postsToShow">
        <div class="card">
          <img [attr.src]="image['imgSrc']" class="image" />

          <div class="description">
            trench coat something. looks like something from a very vintage
            movie
          </div>
        </div>
      </ngxMasonryItem>
    </ngx-masonry>

    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="1000"
      (scrolled)="fetchImages()"
    ></div>
  </div>
</body>
