* {
  box-sizing: border-box;
}


.center {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 24px;
  background-color: white;
}

ngx-masonry{
  margin: 0 auto;
}

.masonry-item {
  margin-bottom: 16px;
}

ngxMasonryItem:nth-of-type(5n) {
  margin-right: 0px;
}

.masonry-item:hover {
  opacity: 0.5;
}

.masonry-item img {
  width: 236px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
}

.description {
  width: 224px;
  margin: 8px 6px 8px;
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  
}

@media  (max-width: 600px)  {
  .center {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    background-color: white;
  }

  ngx-masonry{
    margin: 0 auto;
  }
  
  .masonry-item {
    margin-bottom: 20px;
  }
  ngxMasonryItem:nth-of-type(5n) {
    margin-right: 0px;
  }
  
  .masonry-item:hover {
    opacity: 0.5;
  }
  
  .masonry-item img {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  
  .description {
    width: 130px;
    margin-top: 5px;
    background-color: white;
    font-weight: 700px;
    font-size: 13px;
  }
}