* {
  box-sizing: border-box;
}

/* @media (min-width: 900px)  { */

.center {
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 100px;
  background-color: white;
}

ngx-masonry{
  margin: 0 auto;
}

.masonry-item {
  padding-bottom: 24px;
}

ngxMasonryItem:nth-of-type(5n) {
  margin-right: 0px;
}

.masonry-item:hover {
  opacity: 0.5;
}

.masonry-item img {
  width: 238px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 18px;
}

.description {
  width: 218px;
  margin: 8px 10px;
  background-color: white;
  font-size: 12px;
  font-weight: 600;
  font-family: Arial;
  color: #4d4d4d;
}
/* } */
@media (max-width: 600px)  {

  .center {
    margin-top: 32px;
    background-color: white;
    width:100%;
    margin-left: 0;
    margin-right: 0;
  }

  ngx-masonry{
    width:100%;
  }

  .masonry-item{
    width: calc(50% - 6px);
  }

  .masonry-item:hover {
    opacity: 0.5;
  }
  
  .masonry-item img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 18px;
  }

  .description {
    width:120px;
    margin: 8px 10px;
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    font-family: Arial;
    color: #4d4d4d;
  }

}