<div *ngIf="!profile">
  <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  <div *ngIf="loaded">
    <img [attr.src]="postImage" [attr.height]="height" [class]="class" />
    <span *ngIf="showDescription" class="test"
      >Tech Pack cropped cutout Pro
    </span>
  </div>
</div>

<div *ngIf="profile" [ngClass]="class">
  <img
    [attr.src]="postImage"
    [attr.width]="width"
    [attr.height]="height"
    [ngStyle]="{
      'border-radius': profile ? '50%' : '0%'
    }"
  />
</div>
