<!-- <div class="card" style="width: 13rem;"> -->

<div *ngIf="!profile">
  <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  <div *ngIf="loaded">
    <img
      class="card-img-top"
      [attr.src]="postImage"
      [attr.width]="width"
      [attr.height]="height"
      [class]="class"
    />
  </div>
</div>

<div *ngIf="profile" [ngClass]="class">
  <img
    [attr.src]="postImage"
    [attr.width]="width"
    [attr.height]="height"
    [ngStyle]="{
      'border-radius': profile ? '50%' : '0%'
    }"
  />
</div>
