.img-top {
  width: 175px;
  height: 262px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
  object-fit: cover;
}

.profilePic img {
  width: 42px;
  height: 42px;
  float: left;
  clear: left;
  margin: 11px;
  max-width: 100%;
}

/* Small devices (landscape phones, 360px and up) */
@media (min-width: 360px) and (max-width: 376px) {
  .img-top {
    width: 175px;
    height: 262px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    object-fit: cover;
  }

  /* .profile img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: center;
  } */

  .modal {
    width: 270px;
    height: 270px;
    margin: 0 auto;
  }

  .profilePic img {
    width: 42px;
    height: 42px;
    float: left;
    clear: left;
    margin: 11px;
    max-width: 100%;
  }
}

/* Small devices (landscape phones, 577px and up) */
@media (min-width: 480px) {
  .card-img-top {
    /* height: 60vw; */
    width: 198px;
    height: 270px;
  }
  .profile img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: center;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 600px) {
  .card-img-top {
    width: 198px;
    height: 290px;
  }
  .profile img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

/* Medium devices (tablets, 751px and up) */

@media (min-width: 768px) {
  .card-img-top {
    width: 198px;
    height: 270px;
  }
  .modal img {
    width: 270px;
    height: 270px;
    margin: 0 auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 900px) {
  .profile img {
    margin-left: 10%;
    width: 80%;
    background-color: gray;
  }

  .modalImg {
    width: 190px;
    height: 250px;
    margin-left: 15px;
  }

  .img-top {
    width: 175px;
    height: 262px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
  }

  .profilePic img {
    width: 42px;
    height: 42px;
    float: left;
    clear: left;
    margin: 11px;
  }

  .productPageProfile img {
    width: 40px;
  }

  img.productPageMoreFromUser {
    width: 70px;
    height: 80px;
  }
}

.card {
  /* border: none; */
  margin-top: 30px;
}
.card-body {
  padding-left: 45px;
}
.modalbox {
  width: 19vw;
  margin-left: 30%;
}
