<div class="embed-container">

  <div class="collection-title">
    <div class="title-text">Summer Collection</div>
  </div>

  <div class="collection-images-container">
    <a class="collection-item" *ngFor="let post of posts" href="{{post.link}}" target="_parent">
      <div class="product-image" [ngStyle]="{ 'background-image': 'url(' + post.postImageAddr + ')'}"></div>
      <div class="product-site">{{post.website}}</div>
      <div class="product-price">{{post.price}}</div>
    </a>
  </div>

</div>