<div *ngIf="postInfo" class="wrapper">

  <div *ngIf="imageUrls" class="slider">
    <div class="back-button-container">
      <img id="back-button" (click)="goBackPage()" src="../../../assets/back.png">
    </div>
    <slideshow [autoPlay]="false" [showArrows]="false" [imageUrls]="imageUrls" [lazyLoad]="imageUrls?.length > 1" [autoPlayWaitForLazyLoad]="false"
      showDots="true">
    </slideshow>
  </div>

  <div class="center">
    <div class="product-description">
      {{ postInfo.description }}
    </div>
    <div class="price">
      {{ postInfo.price }} {{'('+postInfo.storeName+')'}}
    </div>
    <div class="num-views">
      {{ numViews }} views
    </div>

    <a href="{{ postInfo.link }}" target="_blank">
      <button type="button" class="shop-btn">
        View on Website
      </button>
    </a>
  </div>

  <div class="buffer">
  </div>

  <div class="center">
    <div class="profile-img-comp" (click)="profilePage()">
      <img id="profileImage" [attr.src]="userProfileSrc" />
      <div class="profile-text">
        <div class="username">{{ postInfo.userName }}</div>
        <div class="num-followers">{{ numFollowers }} followers</div>
      </div>
      <img src="../../../assets/right-arrow.png" class="next-arrow" aria-hidden="true">
    </div>
  </div>

  <div class="buffer">
  </div>

  <div class="center">
    <div class="title">More from {{postInfo.userName}}</div>
    <div class="more-from-container">
      <img *ngFor="let post of postsToShow | async" class="more-from" [attr.src]="post.postImageAddr" (click)="openMorePosts(post)"
      />
    </div>
  </div>

</div>