<div *ngIf="postInfo" class="wrapper">

  <div *ngIf="imageUrls" class="slider">
    <div class="back-button-container" (click)="goBackPage()">
      <img id="back-button" src="../../../assets/back.png">
    </div>
    <slideshow [autoPlay]="false" [showArrows]="false" [imageUrls]="imageUrls" [lazyLoad]="false" [autoPlayWaitForLazyLoad]="false"
      showDots="true">
    </slideshow>
  </div>

  <div class="center">
    <div class="product-description">
      {{ postInfo.description }}
    </div>
    <div class="price">
      {{ postInfo.price }} {{'('+ (postInfo.storeName | lowercase)+')'}}
    </div>
    <div class="num-views">
      {{ numViews }} views
    </div>
    <div class="horiz-menu">
      <button mat-button class="vertical-menu" [matMenuTriggerFor]="soldOut">
        <i class="material-icons">more_horiz</i>
      </button>
      <mat-menu #soldOut="matMenu" yPosition="below">
        <div class="mat-menu-content">
          <button mat-menu-item class="btn-menu"> Report out of stock</button>
          <button mat-menu-item class="btn-menu" (click)="hidePost(postInfo.postId)"> Hide </button>
          <button *ngIf="userProfile" mat-menu-item class="btn-menu" (click)="removePost(postInfo.postId)"> Remove
          </button>
        </div>
      </mat-menu>
    </div>

    <a href="{{ postInfo.link }}" target="_blank">
      <button type="button" class="shop-btn">
        View on Website
      </button>
    </a>
  </div>

  <div class="buffer">
  </div>

  <div class="center">
    <div class="profile-img-comp" (click)="profilePage()">
      <img id="profileImage" [attr.src]="userProfileSrc" />
      <div class="profile-text">
        <div class="username">{{ postInfo.userName }}</div>
        <div class="num-followers">{{ numFollowers$ | async }} followers</div>
      </div>
      <img src="../../../assets/right-arrow.png" class="next-arrow" aria-hidden="true">
    </div>
  </div>

  <div class="buffer">
  </div>

  <div class="center">
    <div class="title">More from {{postInfo.userName}}</div>
    <div class="more-from-container">
      <img heightWidthRatio="1.35" *ngFor="let post of postsToShow$ | async" class="more-from" [attr.src]="post.postImageAddr"
        (click)="openMorePosts(post)" />
    </div>
  </div>

</div>