<app-app-banner *ngIf="ios"></app-app-banner>
<div *ngIf="postInfo" class="wrapper">

  <div *ngIf="imageUrls" class="slider">
    <div class="back-button-container" (click)="goBackPage()">
      <img id="back-button" src="../../../assets/back.png" [ngClass]="{'margin': ios}">

    </div>
    <slideshow [autoPlay]="false" [showArrows]="false" [imageUrls]="imageUrls" [lazyLoad]="false" [autoPlayWaitForLazyLoad]="false"
      [showDots]="imageUrls?.length > 1" [disableSwiping]="imageUrls?.length < 2"></slideshow>


  </div>

  <div class="center">
    <div class="product-description">
      {{ postInfo.description }}
    </div>
    <!-- <div class="price">
      {{ postInfo.price }} {{'('+ (postInfo.storeName | lowercase)+')'}}
    </div> -->
    <div *ngIf="postSalePrice(postInfo) ;else noDiscount" class="price discount">
      <span class="strike-original-price"> {{ postInfo.price }}</span> {{postInfo.salePrice}}
      <span class="store-name"> {{'('+ (postInfo.storeName | lowercase)+')'}}</span>
    </div>
    <ng-template #noDiscount>
      <div class="price">
        {{ postInfo.price }} {{'('+ (postInfo.storeName | lowercase)+')'}}
      </div>
    </ng-template>
    <div *ngIf="registeredUser" class="num-views">
      <i *ngIf="saveButtonClicked" class="fas fa-bookmark save-item" (click)="toggleSaveButton()"></i>
      <i *ngIf="!saveButtonClicked" class="fal fa-bookmark save-item" (click)="toggleSaveButton()"></i>
      <i *ngIf="!likeButtonClicked" class="fal fa-heart" (click)="toggleLikeButton()"></i>
      <i *ngIf="likeButtonClicked " class="fas fa-heart" (click)="toggleLikeButton()"></i>
      <span *ngIf="likeList.length == 0 && (!likeButtonClicked)" id="int-num-views">{{numLikes}} likes
      </span>
      <span *ngIf="likeList.length == 0 && (likeButtonClicked); else showLikeList" id="int-num-views">{{numLikes}} likes</span>
      <ng-template #showLikeList id="int-num-views">
        <span *ngIf="likeList.length == 1; else showExtendedLikeList" class="like-list">liked by {{likeList[0].username}} </span>
        <span *ngIf="likeList.length == 2" class="like-list" (click)="goToLikeList()">
          liked by {{likeList[0].username}} and {{likeList[1].username}} </span>
        <span *ngIf="likeList.length == 3" class="like-list" (click)="goToLikeList()">
          liked by {{likeList[0].username}} and {{likeList[1].username}} and 1 other</span>
        <span *ngIf="likeList.length > 3" class="like-list" (click)="goToLikeList()">
          liked by {{likeList[0].username}}, {{likeList[1].username}} and {{numLikes -2 }} others</span>
      </ng-template>
      <!-- <div *ngIf="hoursDiffrence" class="show-num-views">
        <span>{{hoursDiffrence}} hours ago</span>

      </div> -->
      <!-- <div class="views" *ngIf="'userProfile' && numViews>0">{{numViews}} views</div> -->

    </div>
    <div *ngIf="registeredUser" class="horiz-menu">
      <button mat-button class="vertical-menu" [matMenuTriggerFor]="soldOut">
        <i class="material-icons">more_horiz</i>
      </button>
      <mat-menu #soldOut="matMenu" yPosition="below">
        <div class="mat-menu-content">
          <button mat-menu-item class="btn-menu"> Report out of stock</button>
          <button mat-menu-item class="btn-menu" (click)="hidePost(postInfo.postId)"> Hide </button>
          <button *ngIf="userProfile" mat-menu-item class="btn-menu" (click)="removePost(postInfo.postId)"> Remove
          </button>
        </div>
      </mat-menu>
    </div>


    <button type="button" class="shop-btn">
      <a *ngIf="registeredUser || postInfo.storeName == 'Shein' ;else notRegistered" class="view-website" href="{{ postInfo.link }}" target="_blank" (click)="incPostRedirects()">
        View on Website
      </a>
      <ng-template #notRegistered>
        <a (click)=registerPage()>
        View on Website
      </a>
       </ng-template>
    </button>

    <!-- <ng-template #redirectToLogin>
      <button type="button" class="shop-btn">
        View on Website
      </button>
    </ng-template> -->
  </div>

  <div class="buffer">
  </div>

  <div class="center">
    <div class="profile-img-comp" (click)="profilePage()">
      <img id="profileImage" [attr.src]="userProfileSrc" />
      <div class="profile-text">
        <div class="username">{{ postInfo.userName }}</div>
        <div class="num-followers">{{ numFollowers$ | async }} followers</div>
      </div>
      <img src="../../../assets/right-arrow.png" class="next-arrow" aria-hidden="true">
    </div>
  </div>

  <div class="buffer">
  </div>

  <div *ngIf="registeredUser" class="center">
    <div class="title">More from {{postInfo.userName}}</div>
    <div class="more-from-container">
      <img heightWidthRatio="1.35" *ngFor="let post of postsToShow$ | async" class="more-from" [attr.src]="post.postImageAddr"
        (click)="openMorePosts(post)" />
    </div>
  </div>
</div>