<div class="btn-group">
  <button type="button" class="btn btn-outline-dark mr-4" (click)="follow()">
    {{ follows ? 'unfollow' : 'follow' }}
  </button>
  <button type="button" class="simple-button mr-4">
    {{ numberOfPosts | async }} posts
  </button>

  <button type="button" class="simple-button mr-4" (click)="openDialog()">
    {{ following | async }} following
  </button>

  <button type="button" class="simple-button mr-4" (click)="openDialog()">
    {{ followers | async }} followears
  </button>
</div>
<div class="container">
  <div *ngIf="(user | async) as currentUser">
    <app-image-component
      [addr]="currentUser.profileImageAddr"
      width="10%"
      [profile]="true"
    ></app-image-component>

    <div class="description">
      {{ currentUser.username }}<br />
      {{ currentUser.description }}
    </div>
  </div>
</div>
