.container {
  margin-top: 15px;
  margin-left: 15px;
}

.simple-button span.metrics {
  font-weight: 500;
  width: 60px;
}

button.btn {
  background-color: #ff1493;
  color: white;
  border: none;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 990px), only screen and (min-width: 768px) {
  .simple-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    /* margin-right: 10px; */
  }
  .simple-button-metrics {
    padding: 0;

    color: black;
    border: none;
    background: none;
  }

  .simple-button-metrics.first,
  .simple-button-metrics.second {
    padding-right: 10px;
  }

  .button-follow {
    float: right;
    background-color: #ff1493;
    color: white;
    border: none;
  }

  .description {
    margin-left: 10%;
    display: inline-block;
    position: absolute;
    margin-top: 5%;
  }

  .upper-description-div::after {
    clear: both;
  }

  .btn-group {
    display: block;
  }
  .user-name {
    width: 100px;
    display: inline-block;
  }

  .user-description {
    margin-top: 10px;
  }

  .upper-description-div {
    margin-bottom: 10px;
  }

  .img-comp {
    display: inline-block;
    margin-left: 20%;
    height: 200px;
  }

  .img-comp img {
    border-radius: 50%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
