<div class="center">
  <div id="main">
    <div class="container">
      <div *ngIf="userProfileImageSrc" class="img-comp">
        <!-- <img [attr.src]="userProfileImageSrc[0]['postImgSrc']" /> -->
        <img src="../../../assets/kloss_profile.jpg" />
      </div>

      <div *ngIf="user" class="description">
        <div class="upper-description-div">
          <div class="user-name">{{ user.username }}</div>

          <div *ngIf="!userProfile; else settings">
            <div class="button-follow">
              <button type="button" class="button-follow setiings" (click)="follow()">
                {{ follows ? 'following' : 'follow' }}
              </button>
            </div>
          </div>
          <ng-template #settings>
            <div class="settings">
              <i (click)="settingsPage()" class="fal fa-cog"></i>
            </div>
          </ng-template>
        </div>

        <div *ngIf="numberOfPosts | async" class="btn-group">
          <button type="button" class="simple-button-metrics first">
            <span class="metrics">{{ numberOfPosts | async }} </span>
            <span class="text"> posts</span>
          </button>

          <button type="button" *ngIf="following | async; else unclickableFollowing" class="simple-button-metrics second" (click)="openDialog(0)">
            <span class="metrics">{{ following | async }}</span>
            <span class="text"> following</span>
          </button>

          <button *ngIf="followers | async; else unclickableFollowers" type="button" class="simple-button-metrics third" (click)="openDialog(1)">
            <span class="metrics">{{ followers | async }}</span>
            <span class="text"> followers </span>
          </button>
          <ng-template #unclickableFollowers>
            <button type="button" class="simple-button-metrics third">
              <span class="metrics">{{ followers | async }} </span>
              <span class="text"> followers </span>
            </button>
          </ng-template>
          <ng-template #unclickableFollowing>
            <button type="button" class="simple-button-metrics second">
              <span class="metrics">{{ following | async }}</span>
              <span class="text"> following </span>
            </button>
          </ng-template>
        </div>
        <div class="user-description">
          <p class="full-name">{{ user.fullName }}</p>
          <p class="bio">{{ user.description }} I just love fashion you know, and everything that comes with it. Shopping is LYFE
          </p>
        </div>
      </div>
    </div>
  </div>
</div>