<body>
  <div class="test">
    <div *ngIf="(user | async) as currentUser">
      <div class="description">
        <h2>
          {{ currentUser.username }}
          {{ currentUser.description }}

          <button type="button" class="btn btn-outline-dark" (click)="follow()">
            {{ follows ? 'unfollow' : 'follow' }}
          </button>
        </h2>
      </div>
      <app-image-component
        [addr]="currentUser.profileImageAddr"
        [profile]="true"
        class="profile"
      ></app-image-component>
    </div>

    <div class="btn-group">
      <button type="button" class="simple-button">
        {{ numberOfPosts | async }} posts
      </button>

      <button type="button" class="simple-button" (click)="openDialog()">
        {{ following | async }} following
      </button>

      <button type="button" class="simple-button" (click)="openDialog()">
        {{ followers | async }} followears
      </button>
    </div>
  </div>
</body>
