<body>
  <div *ngIf="user | async">
    <div *ngIf="desktop; else mobileView" class="display">
      <app-navbar></app-navbar>
      <app-user-profile-info [user]="user"></app-user-profile-info>
      <app-user-feed [user]="user"></app-user-feed>
    </div>
    <ng-template #mobileView class="mobile">
      <app-bottom-navbar></app-bottom-navbar>
      <app-user-profile-info [user]="user"></app-user-profile-info>
      <app-shopping-nav></app-shopping-nav>
      <app-user-feed [user]="user"></app-user-feed>
    </ng-template>
  </div>
</body>