<html>

<body>
  <div *ngIf="desktop; else mobileView" class="display">
    <app-navbar></app-navbar>
    <div [class]="classToApply">
      <app-user-profile-info></app-user-profile-info>
      <app-user-feed></app-user-feed>
    </div>
  </div>
  <ng-template #mobileView class="mobile">
    <app-shopping-nav>
      <app-user-profile-info></app-user-profile-info>
      <app-user-feed></app-user-feed>
      <app-bottom-navbar></app-bottom-navbar>
    </app-shopping-nav>
  </ng-template>
</body>

</html>