<div *ngIf="desktop">
  <app-navbar></app-navbar>
</div>
<div *ngIf="!desktop">
  <app-bottom-navbar></app-bottom-navbar>
</div>

<div class="row">
  <div class="column controlers">
    <ul class="form-sections">
      <li [class]="profileClass" (click)="editProfile()">
        Edit Profile
      </li>
      <li [class]="passClass" (click)="changePassword()">
        password
      </li>
    </ul>
  </div>
  <div class="column">

    <div *ngIf="user" class="user">
      <div class="form-group">
        <label>
          <img [src]="user.profileImageAddr" class="profile" />
        </label>
        <div [class]="userInfoClass">
          <span [class]="spanClass">{{user.username}}</span>
          <div *ngIf="profile" class="upload-image">
            <input style="display:none" type="file" class="profile-image" (change)="onFileSelected($event)" #fileInput />
            <div class="change-profile-image">
              <button type="button" (click)="fileInput.click()">
                Change Profile Image
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="profile">
      <div class="form">
        <form [formGroup]="settingsForm">
          <fieldset>

            <div class="form-group">
              <label>User Name</label>
              <input type="text" formControlName="username" class="form-control" />
            </div>

            <div class="form-group">
              <label>Full Name</label>
              <input type="text" formControlName="fullname" class="form-control" />
            </div>

            <div class="form-group">
              <label>Description</label>
              <input type="text" formControlName="description" class="form-control" />
            </div>

            <div class="form-group">
              <label>E-mail</label>
              <input type="email" formControlName="email" class="form-control" />
            </div>

            <div class="form-group submit-button">
              <div class="submit-button">
                <button type="button" (click)="onSubmit()">
                  Submit
                </button>
                <div class="loading-spinner">
                  <div *ngIf="loading">
                    <app-loading-spinner></app-loading-spinner>
                  </div>
                </div>
                <div class="succes-message" *ngIf="showSuccessMsg">
                  <p class="alert alert-success">
                    <strong>Success!</strong> your profile was updated.
                  </p>
                </div>
                <div class="error-message" *ngIf="showFailMsg">
                  <p class="alert alert-danger">
                    <strong>Failed</strong> to update your profile.
                  </p>
                </div>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
    <div *ngIf="password" class="upload-image">
      <div class="form password">
        <form [formGroup]="changePasswordForm">
          <fieldset>
            <div class="form-group">
              <label>Old Password</label>
              <input type="password" formControlName="oldPass" class="form-control" [ngClass]="{ 'is-invalid': submittedPass && changePassForm.oldPass.errors }"
              />
              <div *ngIf="submittedPass && changePassForm.oldPass.errors" class="invalid-feedback">
                <div *ngIf="changePassForm.oldPass.errors.required">
                  Password is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>New Password</label>
              <input type="password" formControlName="newPass" class="form-control" [ngClass]="{ 'is-invalid': submittedPass && changePassForm.newPass.errors }"
              />
              <div *ngIf="submittedPass && changePassForm.newPass.errors" class="invalid-feedback">
                <div *ngIf="changePassForm.newPass.errors.required">
                  Password is required
                </div>
                <div *ngIf="changePassForm.newPass.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Confirm New Password</label>
              <input type="password" formControlName="confirmPass" class="form-control" [ngClass]="{
                  'is-invalid': submittedPass && changePassForm.confirmPass.errors
                }" />
              <div *ngIf="submittedPass && changePassForm.confirmPass.errors" class="invalid-feedback">
                <div *ngIf="changePassForm.confirmPass.errors.required">
                  Confirm Password is required
                </div>
                <div *ngIf="changePassForm.confirmPass.errors.mustMatch">
                  Passwords do not match
                </div>
              </div>
              <div class="form-group submit-button">
                <div class="submit-button">
                  <button type="button" (click)="onSubmitChangePassword()">
                    Change Password
                  </button>
                  <div class="loading-spinner">
                    <div *ngIf="loading">
                      <app-loading-spinner></app-loading-spinner>
                    </div>
                  </div>
                  <div class="succes-message" *ngIf="showSuccessMsg">
                    <p class="alert alert-success">
                      <strong>Success!</strong> your password was updated.
                    </p>
                  </div>
                  <div class="error-message" *ngIf="showFailMsg">
                    <p class="alert alert-danger">
                      <strong>Failed</strong> to update your password.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>


    </div>
  </div>
</div>