<app-navbar></app-navbar>

<div class="row">
  <div class="column controlers">
    <ul class="form-sections">
      <li [class]="profileClass" (click)="editProfile()">
        Edit Profile
      </li>
      <li [class]="passClass" (click)="changePassword()">
        password
      </li>
    </ul>
  </div>
  <div class="column">
    <div id="form">
      <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <!-- <div class="form-group user"> -->
          <label>
            <img
              src="../../../assets/kloss_profile.jpg"
              class="profile"
              (click)="profilePage()"
            />
          </label>
          <!-- </div> -->
          <div class="user">
            <span>Adi Caspi</span>
            <input
              style="display:none"
              type="file"
              class="profile-image"
              (change)="onFileSelected($event)"
              #fileInput
            />
            <div class="change-profile-image">
              <button type="button" (click)="fileInput.click()">
                Change Profile Image
              </button>
            </div>
          </div>

          <div *ngFor="let item of fields" class="form-group">
            <label for="{{ item[label] }}">{{ item['display'] }}</label>
            <input
              type="text"
              [formControlName]="item['input']"
              class="form-control"
            />
          </div>
          <div class="form-sbumit-button">
            <button>Submit</button>
          </div>

          <!-- <div class="form-group">
          <label for="post">Update Profile Picture</label>

          <input
            type="file"
            class="profile-image"
            (change)="onFileSelected($event)"
            placeholder="Upload file..."
          />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            formControlName="description"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="text"
            formControlName="description"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <div
            *ngIf="submitted && f.password.errors"
            class="invalid-feedback"
          ></div>
        </div>

        <div class="form-group">
          <label for="post_description">Bio</label>
          <input
            type="text"
            formControlName="post_description"
            class="form-control"
          />
        </div> -->
        </fieldset>
      </form>
    </div>
  </div>
</div>
