.password-clicked {
  color: black;
  border-left-color: black;
  font-weight: 600;
}

.profile-clicked {
  color: black;
  border-left-color: black;
  font-weight: 600;
}

.terms-clicked {
  color: black;
  border-left-color: black;
  font-weight: 600;
}

.controlers {
  list-style: none;
  border-left: 2px solid transparent;
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 16px 80px 16px 15px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  color: #262626;
  text-align: left;
}

button.submit-button{
  background: -webkit-linear-gradient(60deg, rgba(255, 80, 170, 0.9) 20%, rgba(244, 129, 255, 0.95) 100%);
  color: white;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  border: none;
  height: 36px;
  width: 75px;
  margin-left: 165px;
  float: left;
}

.form-group.submit-button{
  display: flex;
  flex-direction: column;
}

.message{
  margin-top: 10px;
}

@media (min-width: 900px) {
.wrapper {
  /* background: #fafafa;
  margin-top: 50px;
  padding: 50px; */
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  background: white;
  padding: 50px;
  height: 100%;
  margin-top: 68px;
}

.column{
  border: 1px solid #dbdbdb;
  border-left: none;
  display: flex;
  flex-direction: column;
}

.column.controlers {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px 0px 0px 3px;
  padding: 0px;
}

ul.form-sections {
  padding-left: 0px;
}

/* .controlers {
  list-style: none;
  border-left: 2px solid transparent;
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 16px 80px 16px 30px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  color: #262626;
} */

li.controlers:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.form {
  background-color: #fff;
  height: 100%;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0px 3px 3px 0px;
  text-align: center; 
  padding: 15px;
}

.user{
  padding-left: 15px;
}

.form-group {
  float: left;
  margin-top: 20px;
  clear: both;
}

.form-group.user {
  margin-bottom: 10px;
  display: block;
  float: none;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  height: 20px;
  width: 150px;
  text-align: right;
  margin-right: 15px;
  float: left;
  line-height: 32px;
}

input {
  height: 32px;
  width: 300px;
  border: 1px solid #efefef;
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  font-size: 14px;
  float: left;
  font-family: 'Maven Pro', sans-serif;
}

img.profile {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  display: inline;
}

span.user {
  font-family: 'Maven Pro', sans-serif;
  float: left;
  clear: both;
  line-height: initial;
  padding: 0;
}

span.user.pass {
  line-height: 38px;
  font-family: 'Maven Pro', sans-serif;
}

.user-info, .user-info-pass {
  float: right;
  clear: right;
}

.change-profile-image button {
  border: none;
  background-color: white;
  color: #ff1493;
  outline: none;
  padding: 0;
}

.form-group.submit-button {
  float: none;
  margin-top: 50px;
}

/* button.submit-button {
  display: block;
  margin-left: 165px;
} */

button {
  font-family: 'Maven Pro', sans-serif;
  font-size: 13px;
  cursor: pointer;
}

.invalid-feedback {
  float: right;
  clear: both;
  font-family: 'Maven Pro', sans-serif;
  font-size: 12px;
}

.error-msg{
  margin-left: 165px;
  text-align: start;
}

ul.terms-conditions{
  margin-left: 120px;
  text-align: left;
}
}

@media (min-width: 600px) and (max-width: 900px) {
  .wrapper {
    /* background: #fafafa;
    margin-top: 50px;
    padding: 50px; */
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    background: white;
    height: 100%;
    margin-top: 30px;
  }

  .column{
    border: 1px solid #dbdbdb;
    border-left: none;
    display: flex;
    flex-direction: column;
  }
  
  .column.controlers {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px 0px 0px 3px;
    padding: 0px;
  }
  
  ul.form-sections {
    padding-left: 0px;
  }
  
  /* .controlers {
    text-align: left;
    list-style: none;
    border-left: 2px solid transparent;
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 80px 16px 30px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 14px;
    color: #262626;
  } */
  
  li.controlers:hover {
    background-color: #fafafa;
    cursor: pointer;
  }
  
  .form {
    background-color: #fff;
    height: 100%;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px 3px 3px 0px;
    text-align: center;
    padding: 15px;
  }
  
  .form-group {
    float: left;
    margin-top: 20px;
    clear: both;
  }
  
  .form-group.user {
    margin-bottom: 10px;
    display: block;
    float: none;
  }
  
  label {
    font-family: 'Maven Pro', sans-serif;
    font-size: 14px;
    color: #333;
    height: 20px;
    width: 150px;
    text-align: right;
    margin-right: 15px;
    float: left;
    line-height: 32px;
  }
  input {
    height: 32px;
    width: 200px;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    float: left;
    font-family: 'Maven Pro', sans-serif;
  }
  
  img.profile {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    display: inline;
  }
  
  span.user {
    font-family: 'Maven Pro', sans-serif;
    float: left;
    clear: both;
    line-height: initial;
  }
  
  span.user.pass {
    line-height: 38px;
    font-family: 'Maven Pro', sans-serif;
  }
  
  .user-info,.user-info-pass {
    float: right;
    clear: right;
  }
  
  .change-profile-image button {
    border: none;
    background-color: white;
    color: #ff1493;
    outline: none;
    padding: 0;
  }
  
  .form-group.submit-button {
    float: none;
    margin-top: 50px;
  }
  
  .submit-button {
    display: block;
  }
  
  button {
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
    cursor: pointer;
  }
  
  .invalid-feedback {
    float: right;
    clear: both;
    font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
  }

  .error-msg{
    margin-left: 165px;
    text-align: start;
  }

  ul.terms-conditions{
    margin-left: 120px;
    text-align: left;
  }
}

@media (max-width: 600px){
  .wrapper {
    /* background: #fafafa;
    margin-top: 50px;
    padding: 50px; */
  }
  
  .row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
    background: white;
  }

  .column{
    border: 1px solid #dbdbdb;
    border-left: none;
    display: flex;
    flex-direction: column;
  }
  
  .column.controlers {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px 0px 0px 3px;
    padding: 0px;
    width:100px;
  }
  
  ul.form-sections {
    padding-left: 0px;
  }
  
  /* .controlers {
    list-style: none;
    border-left: 2px solid transparent;
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 80px 16px 15px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 14px;
    color: #262626;
  } */
  
  li.controlers:hover {
    background-color: #fafafa;
    cursor: pointer;
  }
  
  .form {
    background-color: #fff;
    height: 100%;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px 3px 3px 0px;
    text-align: center;
    padding: 15px;
  }
  
  .form-group {
    /* float: left; */
    display: flex;
    flex-wrap: wrap;
    clear: both;
  }
  
  .form-group.user {
    margin-bottom: 10px;
    display: block;
    float: none;
  }
  
  label {
    font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
    color: #333;
    height: 20px;
    width: 82px; 
    text-align: right;
    text-align: start;
    line-height: 32px;
  }

  label.user-name{
    width: 65px;
  }

  input {
    height: 32px;
    width: 160px;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 12px;
    /* float: left; */
    font-family: 'Maven Pro', sans-serif;
  }
  
  img.profile {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    display: inline;
    margin-top: 10px;
    margin-left: 15px;
  }
  
  span.user {
    font-family: 'Maven Pro', sans-serif;
    float: left;
    clear: both;
    line-height: initial;
  }
  
  span.user.pass {
    line-height: 38px;
    font-family: 'Maven Pro', sans-serif;
  }
  
  .user-info {
    margin-top:10px;
  }

  .user-info-pass {
    margin-top:0;
  }
  
  .change-profile-image button {
    border: none;
    background-color: white;
    color: #ff1493;
    outline: none;
    padding: 0;
    text-align: start;
  }
  
  .form-group.submit-button {
    float: none;
    margin-top: 50px;
  }
  
  button.submit-button {
    display: block;
    margin-left: 0;
  }
  
  button {
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
    cursor: pointer;
  }
  
  .invalid-feedback {
    float: right;
    clear: both;
    font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
  }

  .header-section{
    margin-bottom: 35px;
  }

  ul.terms-conditions{
    margin-left: 0;
    text-align: left;
  }
}