<!-- <app-landing-nav></app-landing-nav> -->

<button *ngIf="showCloseButton" mat-button (click)="landingPage()">
  <i class="fal fa-times"></i>
</button>



<div class="mat-dialog-class" mat-dialog-content [ngClass]="{ padding : !modal }">
  <!-- <div class="login-continue">
    <span class="continue">
      Log in to continue
    </span>
  </div> -->
  <!-- <div class="wrapper"> -->
  <div class="img-logo">
    <img src="../../../assets/fw_logo_2A.png" class="fw-logo" />

    <!-- <div class="img-logo-caption">
      Sign up to see fashion items discovered by your friends
    </div> -->
  </div>

  <!-- <div class="sign-up-facebook">
    <button class="facebook-button">
      <span class="facebook-icon">
        <img src="../../../assets/fb_logo.png" class="fb-logo" />
      </span>
      Log in with Facebook
    </button>
  </div> -->
  <div class="form-group" id="facebook-button">
    <button class="facebook-button">
      <a class="facebook-login">
        <span class="facebook-icon">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/facebook-logo-white-2019.png" class="fb-logo" />
        </span>
        <span class="login-with-facebook">
          Log in with Facebook
        </span>
      </a>
    </button>
  </div>

  <div class="login-method">
    <span>OR</span>
  </div>


  <form [formGroup]="registerForm">


    <div class="form-group" id="form-group-email">
      <label for="email"></label>
      <input type="email" formControlName="email" class="form-control" [ngClass]="{
                  'is-invalid': (submitted && f.email.errors) || emailExists
            }" placeholder="E-mail" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">E-mail is required</div>
      </div>

      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.email">E-mail is not valid</div>
      </div>

      <div *ngIf="emailExists" class="invalid-feedback">
        E-mail already exists
      </div>
    </div>

    <div class="form-group">
      <label for="username"></label>
      <input type="text" formControlName="username" class="form-control" [ngClass]="{
                      'is-invalid': submitted && f.username.errors || userNameExists 
                    }" placeholder="Username" />

      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
        <div *ngIf="f.username.errors.pattern" class="error-msg">
          Username can contain only English letters and numbers without spaces
        </div>
        <div *ngIf="!f.username.errors.pattern">
          <div *ngIf="f.username.errors.minlength">
            Username must be at least 3 characters
          </div>
        </div>
      </div>
      <div *ngIf="userNameExists" class="invalid-feedback">
        Username already exists
      </div>
    </div>

    <div class="form-group">
      <label for="fullName"></label>
      <input type="text" formControlName="fullName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }"
        placeholder="Full Name" />
      <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
        <div *ngIf="f.fullName.errors.required">
          Full Name is required
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="birthDate"></label>
      <input type="text" formControlName="birthDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.birthDate.errors }"
        placeholder="Age" />
      <div *ngIf="submitted && f.birthDate.errors" class="invalid-feedback">
        <div *ngIf="f.birthDate.errors.required">
          Age is required
        </div>
        <!-- <div *ngIf="f.birthDate.errors.pattern">
          Please enter a numeric value
        </div> -->
      </div>
    </div>


    <div class="form-group">
      <label for="password"></label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        placeholder="Password" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">
          Password must be at least 8 characters
        </div>
        <div *ngIf="!f.password.errors.minlength && f.password.errors.pattern" class="error-msg">
          Password must contain at least one number and one uppercase character
        </div>
      </div>
    </div>
    <div class="submit-form ">
      <button class="btn btn-default register " (click)="onSubmitRegister() ">
        Sign up
      </button>

      <div class="loading-spinner ">
        <div *ngIf="loading ">
          <app-loading-spinner></app-loading-spinner>
        </div>
      </div>
    </div>
    <p class="terms">
      By signing up, you agree to our
      <a class="termslink" target="_blank" href="{{termsLink}}">Terms</a> , and
      <a class="termslink" target="_blank" href="{{cookiesLink}}">Cookies Policy .</a>
    </p>
  </form>
  <div class="login">
    <div class="account">
      <span>Have an account?</span>
    </div>
    <div>
      <button *ngIf="modal" [mat-dialog-close]="login" (click)="loginPage()" class="register-button">
        Log in
      </button>
      <button *ngIf="!modal" (click)="loginPage()" class="register-button">
        Log in
      </button>
    </div>
  </div>
</div>