.mat-dialog-content {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 100vh;
}

.terms{
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.termslink{
  font-weight: 600;
}


@media (min-width: 600px)  {
button.mat-button{
  float: right;
  font-size: 20px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

a {
  color: black;
}

h2 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
/* 
.form-control {
  margin: 0 auto;
  width: 50%;
} */

.form-group {
  margin: 0;
}

button.btn.btn-default.register {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background-color: black;
  color:white;
  cursor: pointer;
}

button.btn.btn-default.register.unvalid {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background-color: black;
  color:white;
}

p.forgot-password {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  margin-top: 0;
  font-size: 12px;
}

.login-method {
  display:flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 12px;
  font-weight: 700;
}

button.btn.facebook {
  background-color: #6d84b4;
}

div.invalid-feedback{
  width: 50%;
  margin: 0 auto;
}

.img-logo{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;
}

img.fw-logo{
  height: 40px;
  max-width: 240px;
  margin:0 auto;
  margin-bottom: 20px;
}

.img-logo-caption{
  margin:0 auto;
  line-height: 20px;
  width: 220px;
  font-size: 13px;
  width:200px;
  color: #999;
}

button.facebook-button{
  background-color: white;
  color: rgb(56,81,133);
  border:none;
}

img.fb-logo{
  height: 30px;
  width: 30px;
}
.sign-up-facebook{
  display: flex;
  justify-content: center;
}

.loading-spinner{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loading-spinner img{
  width:15px;
}

.login{
  display: flex;
  justify-content: center;
}

a.login{
  color: rgb(56,81,133);
  cursor: pointer;
  margin-left: 5px;
}

.loading-spinner img{
  width:25px;
}

.error-msg{
  margin-top: 5px;
  line-height: 18px;
}
}

  @media (max-width: 600px) {
    button.mat-button{
      float: right;
      font-size: 20px;
    }
    
    .wrapper {
      width: 100%;
      overflow: hidden;
      margin: 0 auto;
    }
    
    a {
      color: black;
    }
    
    h2 {
      width: 50%;
      margin: 0 auto;
      text-align: center;
    }
    
    /* .form-control {
      margin: 0 auto;
      width: 50%;
    }
     */
    .form-group {
      margin: 0;
    }
    
    button.btn.btn-default.register {
      display: block;
      margin: 0 auto;
      margin-top: 15px;
      background-color: black;
      color:white;
      cursor: pointer;
    }
    
    p.forgot-password {
      width: 50%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 25px;
      margin-top: 0;
      font-size: 12px;
    }
    
    .login-method {
      display:flex;
      justify-content: center;
      margin-top: 15px;
      font-size: 12px;
      font-weight: 700;
    }
    
    button.btn.facebook {
      background-color: #6d84b4;
    }
    
    div.invalid-feedback{
      width: 50%;
      margin: 0 auto;
    }

    .img-logo{
      display: flex;
      flex-direction: column;
      /* margin-top: 55px; */
      margin-bottom: 20px;
      text-align: center;
    }
    
    img.fw-logo{  
      max-width: 204px;
      margin:0 auto;
      margin-bottom: 10px;
    }
    
    .img-logo-caption{
      margin:0 auto;
      line-height: 20px;
      width: 220px;
      font-size: 13px;
      width:200px;
      color: #999;
    }

    button.facebook-button{
      background-color: white;
      color: rgb(56,81,133);
      border:none;
      margin: 0 auto;
    }
    
    img.fb-logo{
      height: 30px;
      width: 30px;
    }

    .sign-up-facebook{
      display: flex;
      justify-content: center;
    }

    .sign-up-facebook{
      display: flex;
      justify-content: center;
    }

    .loading-spinner{
      display: flex;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .loading-spinner img{
      width:25px;
    }

    .login{
      display: flex;
      justify-content: center;
      
    }

    a.login{
      color: rgb(56,81,133);
      cursor: pointer;
      margin-left: 5px;
    }
  }

  @media (max-width: 600px){
    /* .terms{
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    } */
  }
  
