.mat-dialog-content {
  width: 100%;
  overflow: hidden !important;
  margin: 0 auto;
  max-height: 100%;
  padding: 0 38px;

  &.padding{
    padding:40px;
  }
}

button.mat-button{
  float: right;
  font-size: 20px;
}

button.register-button{
  padding:0;
  font-size: 16px;
  color: transparent;
  background-image: -webkit-linear-gradient(60deg,rgba(255,80,170,.9) 20%,rgba(244,129,255,.95) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
  color:transparent;
  height: 36px;
  width: 64px;
  border: none;
  font-weight: 500;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  outline: none;
}

button.register-button:hover{
  text-decoration: underline;
}

.account{
  display: flex;
  align-items:center;
}

// .login-continue{
//   width: 352px;
//   padding: 24px;
//   text-align: center;
//   position: fixed;
//   top: 13px;
// }

span.continue{
  color: white;
  // display: flex;
  // margin: 0 auto;
}

a.login{
  color: #0095f6;
  cursor: pointer;
  margin-left: 5px;
}

.terms{
  font-size: 12px;
  text-align: center;
  margin-top: -4px;
  margin-bottom: 10px;
  color: rgb(142,142,142);
}

.termslink{
  font-weight: bold;
  color: rgb(142,142,142);
  text-decoration: none;
}

.img-logo{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  // margin-top: 30px;
  text-align: center;
  align-items: center;
}

button.facebook-button {
  color: white;
  font-weight: 600;
  text-align: center;
  border: 1px solid transparent;
  outline: none;
  border-radius: 4px;
  background-color: #1877f2;
  width: 100%;
  height: 40px;
  font-size: 14px;
}

a.facebook-login{
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

span.login-with-facebook{
  margin-left: 9px;
  margin-top: 1px;
}

.form-group{
  //height: 43px;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: -3px;
}

input.form-control {
  width:100%; 
  margin: 0 auto;
  font-size: 14px;
  padding: 20px 14px;
}

input.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #929292;
}

.submit-form{
  // margin-top: 40px;
  margin-top:18px;
}

.login-method {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  // margin-bottom: 5px;
  margin-bottom: 21px;
  margin-top: 32px;
  // margin-top: 25px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  border-bottom: 2px solid #ddd;
  line-height: 0.1em;
}

.login-method span {
  background: #fff;
  padding: 0 20px;
  color: #969696;
}

button.btn.btn-default.register {
  display: block;
  margin: 0 auto;
  background:
   -webkit-linear-gradient(60deg, rgba(255, 80, 170, 0.9) 20%, rgba(244, 129, 255, 0.95) 100%);
  color:white;
  cursor: pointer;
  width: 100%;
  height: 36px;
  padding: 2px;
  font-weight: 600;
  border-radius: 4px;
  font-size: 14px;
}

.invalid-feedback{
  margin-left:2px;
}

.app-store{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-store-container{
  flex: 1 1 auto;
  justify-content: center;
  margin-top: 8px;
}

.app-store img{
  width: 118px;
}

.filler-div{
  flex-grow:1;
  min-height: 60px;
}

@media (min-width: 600px)  {
  .wrapper {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }

  a {
    color: black;
  }

  h2 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  /* 
  .form-control {
    margin: 0 auto;
    width: 50%;
  } */

  //.form-group {
   // margin: 0;
    // margin-bottom: 4px;
    //margin-bottom: -3px;
  //}

  button.btn.btn-default.register {
    display: block;
    margin: 0 auto;
    // margin-top: 15px;
    background-color: black;
    color:white;
    cursor: pointer;
  }

  button.btn.btn-default.register.unvalid {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    background-color: black;
    color:white;
  }

  p.forgot-password {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    margin-top: 0;
    font-size: 12px;
  }


  button.btn.facebook {
    background-color: #6d84b4;
  }

  img.fw-logo{
    height: 38px;
    max-width: 222px;
    margin:0 auto;
    margin-top: 8px;
    margin-bottom: 44px;
  }

  .img-logo-caption{
    margin:0 auto;
    line-height: 20px;
    width: 220px;
    font-size: 13px;
    width:200px;
    color: #999;
  }

  // button.facebook-button{
  //   background-color: white;
  //   color: rgb(56,81,133);
  //   border:none;
  // }

  img.fb-logo{
    height: 22px;
    width: 22px;
  }
  .sign-up-facebook{
    display: flex;
    justify-content: center;
  }

  .loading-spinner{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .loading-spinner img{
    width:15px;
  }

  .login{
    display: flex;
    justify-content: center;
    margin-top: 26px;
  }

  // a.login{
  //   color: rgb(56,81,133);
  //   cursor: pointer;
  //   margin-left: 5px;
  // }

  .loading-spinner img{
    width:25px;
  }

  .error-msg{
    margin-top: 5px;
    line-height: 18px;
  }

}

@media (max-width: 600px) {

  .mat-dialog-content {
    padding: 0;
   }
  
  .wrapper {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  
  a {
    color: black;
  }
  
  h2 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  #facebook-button {
    height: 34px;
  }

  button.facebook-button {
    height: 34px;
  }

  span.login-with-facebook{
    margin-left: 8px;
    margin-top: 0px;
  }
  
  input.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #929292;
  }
  
  // .form-group {
  //   margin: 0;
  //   margin-bottom: 4px;
  // }
  
  // button.btn.btn-default.register {
  //   display: block;
  //   margin: 0 auto;
  //   margin-top: 15px;
  //   background-color: black;
  //   color:white;
  //   cursor: pointer;
  //   width: 100%;
  // }
  
  p.forgot-password {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    margin-top: 0;
    font-size: 12px;
  }
  
  button.btn.facebook {
    background-color: #6d84b4;
  }
  
  button.btn.btn-default.register {
    height: 34px;
    padding: 2px;
    font-weight: 600;
    border-radius: 4px;
  }

  img.fw-logo{  
    max-width: 244px;
    height: 38px;
    margin:0 auto;
    margin-bottom: 32px;
  }
  
  .img-logo-caption{
    margin:0 auto;
    line-height: 20px;
    width: 220px;
    font-size: 13px;
    width:200px;
    color: #999;
  }

  // button.facebook-button{
  //   background-color: white;
  //   color: rgb(56,81,133);
  //   border:none;
  //   margin: 0 auto;
  // }
  
  img.fb-logo{
    height: 20px;
    width: 20px;
    margin-top: -3px;
  }

  .sign-up-facebook{
    display: flex;
    justify-content: center;
  }

  .sign-up-facebook{
    display: flex;
    justify-content: center;
  }

  .loading-spinner{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .loading-spinner img{
    width:25px;
  }

  .login{
    display: flex;
    justify-content: center;
    margin-top: 18px;
  }



  // a.login{
  //   color: rgb(56,81,133);
  //   cursor: pointer;
  //   margin-left: 5px;
  // }
}
  
