<nav class="navbar navbar-expand-sm navbar-light">
  <ul class="left-nav">
    <li class="item-logo">
      <button type="button" class="button-left-nav" (click)="feedPage()">
        <img src="../../../assets/logo.png" class="logo" />
      </button>
    </li>
    <li class="item-explore">
      <button type="button" class="button-left-nav" (click)="explorePage()">
        Explore
      </button>
    </li>
  </ul>
  <div class="collapse navbar-collapse " id="navbarMain">
    <ul class="navbar-nav">
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            id="navBarSearchForm"
          />

          <button class="simple-button" type="button">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </li>
    </ul>

    <ul class=" navbar-nav ml-auto">
      <li class=" nav-item ">
        <button
          type="button"
          class="simple-button icon"
          (click)="profilePage()"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
      </li>

      <li class=" nav-item ">
        <button
          type="button"
          class="simple-button icon"
          (click)="settingsPage()"
        >
          <mat-icon>settings</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</nav>

<div class="bottom-navbar">
  <mat-icon (click)="feedPage()">home</mat-icon>
  <mat-icon (click)="profilePage()">account_circle</mat-icon>
  <mat-icon (click)="explorePage()">explore</mat-icon>
</div>
