
@media only screen and (min-width: 900px) {
  nav {
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #efefef;
  }

  .bottom-navbar {
    display: none;
  }

  .fw-navbar {
    list-style-type: none;
    background-color: white;
    height: 68px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  li {
    display: inline-block;
  }

  img.logo {
      height: 30px;
      padding-left: 24px;
      padding-right: 24px;
      cursor: pointer;
  }

  li.search {
    height: 42px;
    background-color: rgb(250, 250, 250);
    border-radius: 11px;
    display: inline-block;
    position: relative;
    transition: box-shadow 200ms, background-color 200ms ease-in !important;
    flex-grow: 1;
  }

  li.search:focus {
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
    background-color: white;
  }

  form {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  ::placeholder {
    color: rgb(132,132,132);
    font-weight: bold;
  }

  div.search-container {
    display: flex;
    flex:auto;
    flex-direction: row;
    height: 100%;
    padding: 13px 0px;
    margin-left: 5px;
    margin-right: 18px;
    vertical-align: center;
    align-items: center;
  }

  div.search-icon {
    padding-left: 15px;
    padding-right: 12px;
    color: rgb(132,132,132);
    position: relative;
    top: 1px;
  }

  svg.search-icon {
    fill: rgb(132,132,132);
  }

  #input-container-custom {
    display: inline-block;
    width: 100% !important;
  }

  #navBarSearchForm {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    text-align: left;
    font-size: 17px;
    font-weight: 600;
    color: #333;
    background-color: transparent;
  }

  li.seperating-line {
    height: 30px;
    border-left: 2px solid #efefef;
    width: 24px;
  }

  li.explore {
    top: 4px;
    font-size: 18px;
    font-family: 'Helvetica Neue';
    font-weight: 500;
    cursor: pointer;
    border-radius: 25px;
    padding: 2px 12px;
    color: #8e8e8e;
  }

  li.explore:hover {
    background-color: rgba(0,0,0,0.1);
  }

  .profile {
    width: 40px;
    height: 40px;
    margin-left: 24px;
    position: relative;
    top: 4px;
    border-radius: 50%;
    border: 2px solid rgba(128,128,128,0.25);
    cursor: pointer;
    margin-right: 20px;
  }

  .profile:hover {
    border-color: rgba(128,128,128,0.5);
  }

  mat-icon {
    font-size: 30px;
  }

  .nav-item.right {
    display: inline-block;
  }

  img.icon {
    width: 35px;
    height: 35px;
  }

img.search-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.search-result{
  display: flex;
}

.search-res-user-img{
  line-height: 30px;
  display: flex;
  align-items: center;
}

.search-res-user-details{
  display: flex;
  flex-direction: column;
  line-height: 15px;
  font-size: 10px;
  margin-left: 5px;
}

/* .res-first-row{
  line-height: 20px;
}  

.res-second-row{
  line-height: 20px;
  font-size: 10px;
  margin-left: 25px;
}

span.search-user{
  font-size: 10px;
  margin-left: 5px;
} */

}


@media only screen and (min-width: 600px) and  (max-width: 900px) {
  .bottom-navbar {
  display: none;
  }

  nav {
    background-color: white;
    width: 100%;
    border-bottom: 2px solid;
  }
  
  .fw-navbar {
    list-style-type: none;
    display: flex;
    flex:auto;
    align-items: center;
    background-color: white;
    height: 53px;
    margin: auto;
    padding: 0;
    justify-content: center;
  }
  
  li {
    display: inline-block;
  }
  
  div.center-container {
    display: flex;
    align-items: center;
    width: 600px;
    position: relative;
  }
  
  .nav-item {
    display: inline-block;
  }
  
  img.logo {
    /* height: 20px;
    padding-right: 16px;
    cursor: pointer; */
    height: 23px;
    margin-left: 13px;
    margin-right: 13px;
    cursor: pointer;
    position: relative;
    bottom: 4px;
  }
  
  li.search {
    height: 32px;
    width: 200px;
    background-color: rgb(241,241,241);
    border: 1px solid #e6e6e6;
    border-radius: 30px;
    display: inline-block;
    position: relative;
    margin-left: auto;
    transition: box-shadow 200ms, background-color 200ms ease-in !important
  }
  
  li.search:focus {
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
    background-color: white;
  }
  
  form {
    padding: 0;
    margin: 0;
    height: 25px;
  }
  
  ::placeholder {
    color: #595959;
  }
  
  div.search-container {
    height: 100%;
    padding: 8px 0px;
    margin-left: 3px;
    margin-right: 12px;
    vertical-align: center;
    display: flex;
    flex:auto;
    align-items: center;
  }
  
  div.search-icon {
    padding-left: 1px;
    padding-right: 3px;
    display: inline-block;
    height: 100%;
  }
  
  svg.search-icon {
    fill: #333;
    height:12px;
    width:12px;
  }
  
  #navBarSearchForm {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    text-align: left;
    font-size: 11px;
    font-weight: 600;
    color: #333;
    background-color: transparent;
  }
  
  li.explore {
    top: 2px;
    font-size: 12px;
    font-family: 'Maven Pro';
    cursor: pointer;
    border-radius: 25px;
    padding: 1px 8px;
  }
  
  li.explore:hover {
    background-color: rgba(0,0,0,0.1);
  }
  
  .profile {
    width: 26px;
    height: 26px;
    margin-left: 16px;
    position: relative;
    top: 2px;
    border-radius: 50%;
    border: 2px solid rgba(128,128,128,0.25);
    cursor: pointer;
  }
  
  .profile:hover {
    border-color: rgba(128,128,128,0.5);
  }
  
  mat-icon {
    font-size: 20px;
  }
  
  /* .bottom-navbar {
    display: none;
  } */
  
  .nav-item.right {
    display: inline-block;
  }
  
  img.icon {
    width: 23px;
    height: 23px;
  }

  img.search-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .search-result{
    display: flex;
  }
  
  .search-res-user-img{
    line-height: 30px;
    display: flex;
    align-items: center;
  }
  
  .search-res-user-details{
    display: flex;
    flex-direction: column;
    line-height: 15px;
    font-size: 10px;
    margin-left: 5px;
  }
  
  
  }

  @media (max-width: 600px)  {
  .fw-navbar {
      display: none;
  }

  .bottom-navbar {
    background-color: black;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  
  .bottom-navbar .icon-img {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 30px;
  }

  div.icon-img .fa{
    font-size: 27px;
  }

  .bottom-navbar .icon-img.active{
    color: #f2f2f2;
  }

} 
  
  
