.navbar {
  background-color: white;
}

input#navBarSearchForm {
  border: none;
  text-align: center;
  font-size: 28px;
  font-family: FontAwesome, Arial, Helvetica, sans-serif;
}

.nav-item.search {
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
}

li.item-logo {
  height: 3px;
  list-style: none;
  float: left;
  cursor: pointer;
}

li.item-explore {
  line-height: 30px;
  list-style: none;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
}

button.button-left-nav {
  background: none;
  border: none;
}

.simple-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  margin-right: 10px;
}

.simple-button.icon {
  margin-top: 8px;
  margin-right: 15px;
}

mat-icon {
  font-size: 30px;
}
.bottom-navbar {
  display: none;
}

li.nav-item.right {
  display: inline-block;
}

img.logo {
  width: 60px;
  height: 40px;
}
/* Small devices (landscape phones, 360px and up) */
@media (min-width: 360px) and (max-width: 600px) {
  .navbar {
    display: none;
  }

  .bottom-navbar {
    display: initial;
    overflow: hidden;
    background-color: black;
    position: fixed;
    bottom: 0;
    padding: 15px;
    width: 100%;
    overflow: auto;
  }

  .bottom-navbar mat-icon {
    float: left;
    width: 33.33%;
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
  }

  .bottom-navbar mat-icon:hover {
    background: white;
  }

  .bottom-navbar mat-icon:active {
    background-color: #4caf50;
    color: white;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {
}
