<div>
  <div class="img-logo">
    <img src="../../../assets/fw_logo_2A.png" class="fw-logo" />
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
    <div class="form-group">
      <label for="email"></label>
      <input type="text" formControlName="emailLogin" class="form-control" placeholder="E-mail, username" [ngClass]="{
        'is-invalid': emailLogin.errors && emailLogin.touched || wrongUser
      }" />
      <div *ngIf="wrongUser" class="invalid-feedback">
        {{emailMsgToShow}}
      </div>

      <div *ngIf="emailLogin.errors.required && emailLogin.touched" class="invalid-feedback">
        E-mail is required
      </div>

    </div>
    <div class="form-group">
      <label for="password"></label>
      <input type="password" formControlName="passwordLogin" class="form-control" placeholder="Password" [ngClass]="{
            'is-invalid': passwordLogin.errors && passwordLogin.touched || wrongPass
          }" />
      <div *ngIf="wrongPass" class="invalid-feedback">
        {{passMsgToShow}}
      </div>

      <div *ngIf="passwordLogin.errors.required && passwordLogin.touched" class="invalid-feedback">
        Password is required
      </div>
    </div>


    <div class="forgot-password-container">
      <a routerLink="/forgotpassword">
        Forgot password?
      </a>
    </div>

    <div class="form-group login">
      <button class="login-button" type="submit">Login</button>
    </div>

    <div class="login-method">
      <span>OR</span>
    </div>

    <div class="form-group">
      <button class="facebook-button">
        <span class="facebook-icon">
          <img src="../../../assets/fb_logo.png" class="fb-logo" />
        </span>
        Log in with Facebook
      </button>
    </div>
  </form>
  <div class="sign-up">
    <span>Don't have an account?</span>
    <a class="register" (click)="regsiterPage()">
      Sign up
    </a>
  </div>
</div>