<!-- <div class="body"> -->
<div class="center">

  <div *ngIf="user | async; let user" class="main">
    <!-- <div *ngIf="user" class="main"> -->
    <!-- <div class="header"> -->
    <div class="username">
      <img *ngIf=!userProfile src="assets/back.png" class="go-back" (click)="goBackPage()" /> {{user.username}}
    </div>

    <div class="user-section">

      <div class="img-comp">
        <img [attr.src]="user.profileImageAddr" />
      </div>

      <div class="btn-group">
        <div class="simple-button-metrics first" *ngIf="numberOfPosts ; else noPosts">
          <span class="metrics">{{ numberOfPosts }} </span>
          <span class="text"> Posts</span>
        </div>


        <div class="simple-button-metrics second" *ngIf="following ; else unclickableFollowing" (click)="openDialog(1)">
          <span class="metrics">{{ following }}</span>
          <span class="text"> Following</span>
        </div>


        <div class="simple-button-metrics third" *ngIf="followers ; else unclickableFollowers" (click)="openDialog(0)">
          <span class="metrics">{{ followers }}</span>
          <span class="text"> Followers </span>
        </div>


        <ng-template #noPosts>
          <button type="button" class="simple-button-metrics first">
            <span class="metrics">0</span>
            <span class="text"> Posts</span>
          </button>
        </ng-template>

        <ng-template #unclickableFollowers>
          <button type="button" class="simple-button-metrics third">
            <span class="metrics">0</span>
            <span class="text"> Followers </span>
          </button>
        </ng-template>

        <ng-template #unclickableFollowing>
          <button type="button" class="simple-button-metrics second">
            <span class="metrics">0</span>
            <span class="text"> Following </span>
          </button>
        </ng-template>

      </div>
    </div>

    <div class="user-description">
      <div class="full-name">{{ user.fullName }} </div>
      <div class="bio">{{ user.description }} </div>
    </div>

    <div *ngIf="userProfile" class="settings">
      <i class="fal fa-cog" [matMenuTriggerFor]="settingsMenu"></i>
      <mat-menu #settingsMenu="matMenu" yPosition="below" class="settings-menu">
        <div class="mat-menu-content">
          <button mat-button class="settings-menu-button" (click)="settingsPage()">
            Edit profile
          </button>
          <button mat-button class="settings-menu-button" (click)="logout()">
            Log Out
          </button>
        </div>
      </mat-menu>
    </div>

    <div *ngIf="!userProfile && userId" class="following-button-container">
      <div class="button-follow" [ngClass]="{'following': follows}" (click)="follow()">
        {{ follows ? 'Following' : 'Follow' }}
      </div>
    </div>

    <!-- </div> -->

  </div>
</div>