@media  (max-width: 600px){

  .body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    color: rgb(38,38,38);
    //padding-top:119px;
  }

  .center{
    width: 100%;
    max-width: 450px;
    margin: auto;
    overflow-x: hidden;
    background-color: white;
    padding: 0px 12px;
  }
  
  .header {
    width: 100%;
  }

  .user-section{
    display: flex;
    flex-direction: row;
  }

  .username {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0px;
  }

  .img-comp img {
    border-radius: 50%;
    min-width: 86px;
    height: 86px;
  }

  .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    margin-left: 18px;
  }

  .simple-button-metrics {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    color: inherit;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .simple-button-metrics:first {
    cursor: auto;
  }

  span.metrics {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: -4px;
  }

  .user-description {
    font-size: 14px;
    margin: 16px 0px 8px;
    float: left;
    color: inherit;
  }

  .full-name {
    font-weight: 600;
    margin-bottom: 6px;
  }

  .button-follow {
    border: 1px solid rgba(var(--d0b,219,219,219),1);
    background-color: transparent;
    color: rgb(38,38,38);
    outline: none;
    display: flex;
    border-radius: 4px;
    width: 100%;
    padding: 2px 0px;
  }

  .settings {
    font-size: 23px;
    float: right;
    margin-top: 24px;
    cursor: pointer;
  }

  .mat-menu-contet{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .following-button{
    display: block;
  }

  .following-text{
    margin:0 auto;  
    font-weight: 600;
    font-size: 15px;
  }

  div.mat-menu-content{
    flex-direction: column;
    align-items: flex-start;
  }

  .go-back{
    float: left;
    height: 14px;
  }
}
