.main-wrapper{
  bottom: auto;
  position: fixed;
  top: 0;
  height: 46px;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid;
  border-bottom-color: #dbdbdb;
}

.wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-banner{
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  height: 100%;
}

a.fw-logo{
  flex-basis: 103px;
  flex-shrink: 0;
  height: 29px;
  margin-top: 8px;
}

a.fw-logo img{
  height: 25px;
}

.app-banner-buttons{
  align-self: center;
  display: flex;
  flex-grow: 1;
  text-align: right;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

a.login{
  flex-basis: 45px;
  font-size: 14px;
  font-weight: bold;
  min-width: 45px;
  color:  #7F7EFF;
}

button.app-button{
  background-color:  #7F7EFF;
  border-radius: 6px;
  outline: none;
  border: none;
  color: white;
  margin-left: 10px;
  height: 32px;
  font-weight: bold;
  font-size: 14px;
  padding: 0 9px;
}

button.app-button a{
  color:white;
}



