<div class="main-wrapper">
  <div class="wrapper">
    <div class="app-banner">
      <a class="fw-logo" href="https://www.followear.com">
        <img src="../../../assets/fw_logo_pink.png"> </a>
      <div class="app-banner-buttons">
        <a class="login" href="https://www.followear.com/login">
          Log in
        </a>
        <button class="app-button">
          <a href="https://apps.apple.com/app/followear/id1476265803">Open App</a>
        </button>
      </div>
    </div>
  </div>
</div>