<div class="feed-wrapper">
  <div class="infinite-scroll" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="fetchImages()">
    <div id="main-body">
      <div class="center">
        <div class="card masonry-item" *ngFor="let post of postsToShow">
          <div class="profile-image">
            <img (click)="profilePage(post)" [attr.src]="post['profileImgSrc']" />
            <span (click)="profilePage(post)" class="card-text-profile">{{ post['post']['userName'] }}</span>
          </div>

          <div class="masonry-img">
            <img (click)="openDialog(post)" [attr.src]="post['postImgSrc']" class="img-main" />
          </div>

          <div class="card-text">
            <div class="description">
              {{ post['post']['description'] }}
            </div>
            <span class="price">
              {{ post['post']['price'] }}
            </span>
            <a class="store text-right">
              {{ post['post']['website'] }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <cdk-virtual-scroll-viewport itemSize="439" class="example-viewport">
  <div id="main-body">
    <div class="center">


      <div *cdkVirtualFor="let post of postsToShow" class="card masonry-item">

        <div class="profile-image">
          <img (click)="profilePage(post)" [attr.src]="post['profileImgSrc']" />
          <span (click)="profilePage(post)" class="card-text-profile">{{ post['post']['userName'] }}</span>
        </div>

        <div class="masonry-img">
          <img (click)="openDialog(post)" [attr.src]="post['postImgSrc']" class="img-main" />
        </div>

        <div class="card-text">
          <div class="description">
            {{ post['post']['description'] }}
          </div>
          <span class="price">
            {{ post['post']['price'] }}
          </span>
          <a class="store text-right">
            {{ post['post']['website'] }}
          </a>
        </div>


      </div>

    </div>
  </div>
</cdk-virtual-scroll-viewport> -->