/* @media only screen and (min-width: 900px) { */
#main-body {
  padding-right: 0px;
  padding-left: 0px;
  overflow: visible;
}

.center {
  margin: auto;
  width: 900px;
}

ngxMasonryItem:nth-of-type(3n) {
  margin-right: 0px;
}

.card {
  width: 274px;
  margin-top: 39px;
  border: none;
  border-radius: 20px;
  display: inline-block;
}

.profile-image {
  margin-top: 10px;
  margin-bottom: 20px;
}

.profile-image img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-left: 14px;
}

.profile-image span {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue' Helvetica, Arial, sans-serif; */

  font-size: 18px;
  margin-left: 10px;
  color: rgb(33, 37, 41);
  font-family: arial, 'helvetica', sans-serif;
  text-align: left;
}

.masonry-img img {
  width: 197px;
  height: 295px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
  object-fit: cover;
}

.description {
  text-align: center;
  font-weight: 400;
  color: black;
}

.store.text-right {
  position: absolute;
  right: 12px;
  margin-top: 8px;
  text-decoration: underline;
  line-height: 1;
  color: grey;
}

span.price {
  position: absolute;
  left: 12px;
  margin-top: 8px;
  color: #2f2e2e;
  font-weight: 200;
  font-size: 14px;
  font-family: open sans, sans-serif;
  line-height: 1;
}

.card-text {
  font-size: 15px;
  height: 48px;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 8px;
  font-family: 'helvetica', arial, sans-serif;
}
/* } */

@media (min-width: 576px) {
}

@media (min-width: 360px) and (max-width: 376px) {
  .center {
    margin: auto;
    width: initial;
  }

  .card {
    width: 400px;
    margin-top: 39px;
    border: none;
    border-radius: 20px;
    display: inline-block;
  }
}
