<div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">

  <div id="main-body">
    <div class="feed-label">feed</div>
    <div class="center">
      <div class="card masonry-item" *ngFor="let post of posts">

        <div class="profile-image">
          <img (click)="profilePage(post)" [attr.src]="post.profileImgSrc" />
          <span (click)="profilePage(post)" class="card-text-profile">{{ post.post.userName }}</span>
        </div>

        <div class="masonry-img">
          <img heightWidthRatio="1.4" (click)="openDialog(post)" [attr.src]="post.postImgSrc" class="img-main"/>
        </div>

        <div class="card-text">
          <div class="description">
            {{ post.post.description }}
          </div>
          <div class="price">
            {{ post.post.price }}
          </div>
          <a class="store text-right">
              {{desktop ? post.post.website : '(' + post.storeNameMobile + ')'}}
          </a>
        </div>

      </div>
    </div>
  </div>

</div>