@media only screen and (min-width: 900px) {
#main-body {
  padding-right: 0px;
  padding-left: 0px;
  overflow: visible;
  margin-top: 20px;
}

.center{
  margin: auto;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

ngxMasonryItem:nth-of-type(3n) {
  margin-right: 0px;
}

.card {
  width: 274px;
  margin-top: 39px;
  margin-right: 39px;
  border: none;
  border-radius: 20px;
  display: inline-block;
  border: 1px solid rgb(235,235,235);
}

.card:nth-of-type(3n){
  margin-right: 0px;
}

.profile-image {
  margin-top: 10px;
  margin-bottom: 20px;
}

.profile-image img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-left: 14px;
  cursor: pointer;
}

.profile-image span {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue' Helvetica, Arial, sans-serif; */

  font-size: 18px;
  margin-left: 10px;
  color: rgb(33, 37, 41);
  font-family: arial, 'helvetica', sans-serif;
  text-align: left;
  cursor: pointer;
}

.masonry-img .img-main {
  width: 197px;
  height: 295px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
  object-fit: cover;
}

.masonry-img .img-hover {
  display: none;
}

.card-text {
  font-size: 15px;
  height: 48px;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 8px;
  font-family: 'helvetica', arial, sans-serif;
}

.description {
  text-align: center;
  font-weight: 400;
  color: black;
  width: 90%;
  margin: auto;
}

.store.text-right {
  position: absolute;
  right: 12px;
  margin-top: 8px;
  text-decoration: underline;
  line-height: 1;
  color: grey;
}

span.price {
  position: absolute;
  left: 12px;
  margin-top: 8px;
  color: #2f2e2e;
  font-weight: 200;
  font-size: 14px;
  font-family: open sans, sans-serif;
  line-height: 1;
}

 } 

@media (min-width: 600px) and (max-width: 900px)  {
  #main-body {
    padding-right: 0px;
    padding-left: 0px;
    overflow: visible;
    margin-top: -9px;
  }

  .center{
    margin: auto;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  /* .center {
    margin: auto;
    width: 600px;
  }  */
  
  ngxMasonryItem:nth-of-type(3n) {
    margin-right: 0px;
  }

  .card {
    width: 274px;
    margin-top: 39px;
    border: none;
    border-radius: 20px;
    display: inline-block;
    border: 1px solid rgb(235,235,235);
  }

  .card:nth-of-type(2n){
    margin-right: 0px;
  }

  .profile-image {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .profile-image img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-left: 14px;
    cursor: pointer;
  }
  
  .profile-image span {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue' Helvetica, Arial, sans-serif; */
  
    font-size: 18px;
    margin-left: 10px;
    color: rgb(33, 37, 41);
    font-family: arial, 'helvetica', sans-serif;
    text-align: left;
    cursor: pointer;
  }
  
  .masonry-img .img-main {
    width: 197px;
    height: 295px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .masonry-img .img-hover {
    display: none;
  }
  
  .profile-image span {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue' Helvetica, Arial, sans-serif; */
  
    /* font-size: 12px;
    margin-left: 6px;
    color: rgb(33, 37, 41);
    font-family: arial, 'helvetica', sans-serif;
    text-align: left;
    cursor: pointer; */
  }
    
  .card-text {
    font-size: 15px;
    height: 48px;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 8px;
    font-family: 'helvetica', arial, sans-serif;
  }

  .description {
    text-align: center;
    font-weight: 400;
    color: black;
  }

  .store.text-right {
    position: absolute;
    right: 12px;
    margin-top: 8px;
    text-decoration: underline;
    line-height: 1;
    color: grey;
  }

  span.price {
    position: absolute;
    left: 12px;
    margin-top: 8px;
    color: #2f2e2e;
    font-weight: 200;
    font-size: 14px;
    font-family: open sans, sans-serif;
    line-height: 1;
  }

}

@media  (max-width: 600px)  {
  .infinite-scroll{
    margin-top:50px;
  }
  
  #main-body {
    padding-right: 0px;
    padding-left: 0px;
     overflow: visible;
    /* height: 100vh;  */
  }

  /* .center {
    width:375px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  } */

  .center {
    width: 360px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
  }
  
  ngx-masonry{
    margin: 0 auto;
  }
  
  ngxMasonryItem:nth-of-type(3n) {
    margin-right: 0px;
  }

  .card {
    width:170px;
    margin-right: 20px;
    margin-top: 26px;
    border: none;
    border-radius: 20px;
    display: inline-block;
  }

  .card:nth-of-type(2n){
    margin-right: 0px;
  }
  
  .profile-image {
    margin-top: 6px;
    margin-bottom: 12px;
  }
  
  .profile-image img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 9px;
    cursor: pointer;
  }
  
  .profile-image span {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue' Helvetica, Arial, sans-serif; */
  
    font-size: 12px;
    margin-left: 6px;
    color: rgb(33, 37, 41);
    font-family: arial, 'helvetica', sans-serif;
    text-align: left;
    cursor: pointer;
  }
  
  .masonry-img .img-main {
    width: 160px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    object-fit: cover;
  }
  
  .masonry-img .img-hover {
    display: none;
  }

  .card-text {
    font-size: 18px;
    height: 48px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: 'helvetica', arial, sans-serif;
  }

  .card-text .description {
    text-align: center;
    font-weight: 400;
    color: black;
    font-size: 10px;
  }

  .store.text-right {
    position: absolute;
    right: 12px;
    font-size: 12px;
    margin-top: 8px;
    text-decoration: underline;
    line-height: 1;
    color: grey;
  }

  span.price {
    position: absolute;
    left: 14px;
    margin-top: 8px;
    font-size: 12px;
    color: #2f2e2e;
    font-weight: 200;
    font-family: open sans, sans-serif;
    line-height: 1;
  }
}

