<ngx-spinner bdColor="transparent" color="#ff50aa" size="medium" type="ball-beat">
</ngx-spinner>
<div id=#mainPage>
  <div class="title">
    <span class="dialog-title">{{ dialogTitle }}</span>
    <i *ngIf="desktop" (click)="closeModal()" class="fal fa-times"></i>
    <i *ngIf="!desktop" (click)="goBackPage()" class="fa fa-chevron-left"></i>
  </div>
  <div class="wrapper">
    <div class="content">
      <div class="user-result" *ngFor="let item of postsToShow">
        <span class="img-comp" (click)="userProfile(item)">
          <img [attr.src]="item['imgSrc']" />
        </span>

        <span class="username" (click)="userProfile(item)">
          <span>{{ item['post']['username'] }}</span>
        </span>
        <span class="fill"></span>
        <span *ngIf="item.post.id != userId" class="follower-button">
          <button type="button" class="btn-follower" (click)="follow(item)">
            {{ item['post']['follows'] ? 'Following' : 'Follow' }}
          </button>
        </span>
      </div>
    </div>
  </div>
</div>