.title {
  text-align: center;
  height: 43px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
}
.mat-dialog-title {
  display: inline-block;
  text-align: center;
}

i.fal.fa-times {
  float: right;
  line-height: 30px;
  font-size: 20px;
  margin-right: 5px;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}

.img-comp {
  line-height: 30px;
  display: inline-block;
  margin-left: 10px;
}

.username {
  display: inline-block;
  line-height: 30px;
  margin-left: 10px;
  width: 85%;
}

.follower-button {
  float: right;
}

.btn-follower {
  color: white;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  width: 80px;
  background-color: black;
  border: none;
  outline: 0;
  border-radius: 4px;
}

.fol-card {
  list-style: none;
  /* width: 300px; */
  height: 40px;
  border: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
