.title {
  text-align: center;
  height: 43px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
}

.user-result{
  display: flex;
  flex-direction: row;
}

i.fal.fa-times {
  float: right;
  line-height: 30px;
  font-size: 20px;
  margin-right: 5px;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.username {
  margin-left: 10px;
  cursor: pointer;
}

.btn-follower {
  color: white;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  width: 80px;
  background-color: black;
  border: none;
  outline: 0;
  border-radius: 4px;
}

span.fill{
  flex: 1 1 auto;
}

@media (min-width: 600px)  {

  .title {
    text-align: center;
    height: 43px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
  }
  
  .user-result{
    display: flex;
    flex-direction: row;
  }
  
  i.fal.fa-times {
    float: right;
    line-height: 30px;
    font-size: 20px;
    margin-right: 5px;
  }
  
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .username {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .btn-follower {
    color: white;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    width: 80px;
    background-color: black;
    border: none;
    outline: 0;
    border-radius: 4px;
  }
  
  span.fill{
    flex: 1 1 auto;
  }
  

}