html,
body {
  height: 100%;
}

.display {
  background-color: #f9f9f9;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 1200px;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .hidden {
    display: initial;
  }
  .display {
    display: none;
  }
}
