html,
body {
  height: 100%;
}

.display {
  background-color: white;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .hidden {
    display: initial;
  }
  .display {
    display: none;
  }
}
