body{
  height: 60px;
}

.bottom-navbar-container{
  display: flex;
  justify-content: center;
}

.bottom-navbar {
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 70%;
  border-radius: 30px;
  margin-bottom: 20px;
  box-shadow: rgb(197, 197, 197) 20px 20px 10px;
}

.bottom-navbar .icon-img {
float: left;
display: block;
color: grey;
text-align: center;
padding: 5px 5px;
text-decoration: none;
font-size: 30px;
width: 25%;
}

div.icon-img .fa{
font-size: 29px;
}

.bottom-navbar .icon-img.active{
color: #FF99CC;
}

img.fw-logo{
  vertical-align: baseline;
  width: 50px;
}
  