<div class="bottom-navbar-container">
  <div class="bottom-navbar">
    <div class="icon-img active" [ngClass]="{ 'icon-img': !feed }" (click)="feedPage()">
      <div class="icon-img-home active" [ngClass]="{ 'icon-img-home': !feed }"></div>
      <div class="link-text">Home</div>
    </div>

    <div class="icon-img" [ngClass]="{ active: profile }" (click)="profilePage()">
      <i class="fa fa-user"></i>
      <div class="link-text">Profile</div>
    </div>
    <div class="icon-img" [ngClass]="{ active: explore }" (click)="explorePage()">
      <i class="fa fa-search"></i>
      <div class="link-text">Search</div>
    </div>
  </div>
</div>