.bottom-navbar-container{
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  border-top: 1px solid #EBEBEB !important;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  transition: bottom 0.9s;
  height: 60px;
  
}

.bottom-navbar {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.bottom-navbar .icon-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  width: 20%;
  color: rgb(118,118,118);
}

div.icon-img .fa, div.icon-img .fal {
  font-size: 24px;
  
}

.bottom-navbar .icon-img.active{
  color:  rgba(255,80,170,0.9);
}

.bottom-navbar .icon-img-home{
  width: 35px;
  height: 23px;
}

.bottom-navbar .icon-img-home.active{
  background: url("../../../assets/fw_sprites.png") -7px -10px; 
  background-repeat: no-repeat;
}

.bottom-navbar .icon-img-home{
  background: url("../../../assets/fw_sprites.png") -57px -10px; 
  background-repeat: no-repeat;
}

img.fw-logo{
  vertical-align: baseline;
  width: 32px;
}

.link-text{
  font-size: 10px
}

.bottom-navbar .icon-img.active .link-text{
  color: rgba(255,80,170,0.9);
} 
