<div class="main">
  <!-- <mat-toolbar *ngIf="!desktop" class="mat-toolbar mat-toolbar-single-row">
    <img src="../../../assets/FW-Logo-pink5-fat.png" class="logo" />
  </mat-toolbar> -->

  <!-- <div class="welcome">
    <div class="welcome-title">Welcome to Followear</div>
    <div class="welcome-subtitle">When you follow people, you'll discvoer fashion items they post here.</div>
  </div> -->

  <div *ngIf="desktop">
    <app-navbar></app-navbar>
  </div>
  <div class="main-body">
    <div class="center">
      <div *ngFor="let person of discoverPeopleArray" class="person-wrapper">

        <div class="user-section">
          <img class="profile-image" [src]="person.userAvatar" alt="" (click)="profilePage(person)">
          <div class="user-info">
            <div class="username">{{person.username}}</div>
            <div class="num-followers">{{person.numFollowers}} followers</div>
          </div>
          <div class="follow-button">
            <button (click)="follow(person)">Follow</button>
          </div>
        </div>

        <div *ngIf="desktop" class="user-posts">
          <div *ngFor="let post of getItemsDesktop(person.items) ; let i = index" class="user-post-image"
          [style.background-image]="'url(' + post.imageAddr +')'" (click)="openDialog(person, post.postId)">
            <!-- <div class="image-div"></div> -->
          </div>
        </div>

        <div *ngIf="!desktop" class="user-posts">
          <img heightWidthRatio="1.35" class="user-post-image"
           *ngFor="let post of person.items" [src]="post.imageAddr" alt="" (click)="openDialog(person, post.postId)">
        </div>

      </div>
    </div>
  </div>
  <div *ngIf="!desktop">
    <app-bottom-navbar></app-bottom-navbar>
  </div>

  <!-- <div class="desktop-wrapper" *ngIf="desktop">
    <div class="nav">
      <app-navbar></app-navbar>
    </div>
    <div class="main-body">
      <div class="center">
        <div *ngFor="let item of discoverPeopleArray" class="card-item-wrapeer">
          <div class="card-item">
            <div class="upper-card">
              <div class="user">
                <img [src]="item.userAvatar" alt="" (click)="profilePage(item)">
                <div class="user-metrics">
                  <div class="username">{{item.username}}</div>
                  <div class="fullname">{{item.numFollowers}} followers</div>
                </div>
              </div>
              <div (click)="profilePage(item)" class="user-info">
              </div>
              <div class="follow-button">
                <button mat-button (click)="follow(item)">Follow</button>
              </div>
            </div>
            <div class="user-posts">
              <div *ngFor="let post of item.items ; let i = index">
                <img *ngIf="i<3" [src]="post.imageAddr" alt="" (click)="openDialog(item,post.postId)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="!desktop" class="main-body">
    <div class="center">
      <div *ngFor="let item of discoverPeopleArray" class="card-item-wrapeer">
        <div class="card-item">
          <div class="upper-card">
            <div class="user">
              <img [src]="item.userAvatar" alt="" (click)="profilePage(item)">
              <div class="user-metrics">
                <div class="username">{{item.username}}</div>
                <div class="fullname">{{item.numFollowers}} followers</div>
              </div>
            </div>
            <div (click)="profilePage(item)" class="user-info">
            </div>
            <div class="follow-button">
              <button mat-button (click)="follow(item)">Follow</button>
            </div>
          </div>
          <div class="user-posts">
            <img *ngFor="let post of item.items" [src]="post.imageAddr" alt="" (click)="openDialog(item,post.postId)">
          </div>
        </div>
      </div>
    </div>


    <div class="bottom-navbar">
      <app-bottom-navbar></app-bottom-navbar>
    </div>

  </div> -->

</div>