body {
  background: url('../../../assets/landing.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;

  z-index: -1;
  /* Add the blur effect */
  filter: blur(3px);

  /* Full height */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
