div.container {
  background-color: white;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(240,240,240);
}

div.center {
  position: relative;
  left: 0px;
  margin: auto;
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  display: inline-block;
  color: black; 
  cursor: pointer;
  /* margin-right: 16px;
  margin-bottom: 12px; */
  font-size: 14px;
  transition: color 200ms;
  padding: 5px 16px;
  border-radius: 30px;
  font-weight: 500;
}

.dropbtn:hover {
  /* color: #333; */
  /* color: rgb(140, 140, 140); */
}

.dropbtn.product{
  display: none;
}

.form-group {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  width: 100%;
}

.dropdown-content {
  display: none;
  z-index: 1;
  background-color: #f9f9f9;
  margin-left: 15px;
  background: white;
  margin-bottom: 30px;
  border-radius: 3px;
}

.dropdown:vi .dropdown-content {
  display: block;
  margin-top: 10px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.container {
  font-size: 12px;
  font-family: 'Maven Pro', sans-serif;
  width: 120px;
}

label.price-container{
  width:120px;
  margin-top: 10px;
    margin-bottom: 10px;
}

label.container.all.clothings,
label.container.all.designers,
label.container.jackets,
label.container.dresses {
  width: 140px;
}



/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(255, 20, 147);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.submit-btn {
  display: none;
  position: absolute;
  bottom: 12px;
  right: 0px;
}

button {
  background: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: rgb(255, 20, 147);
}

button:hover {
  text-decoration: underline;
}


label.submit {
  margin-bottom: 12px;
  border: solid;
  border-color: rgb(255, 20, 147);
  border-radius: 12px;
}


mat-slider {
  width: 300px;
}

div.mat-slider-thumb{
  background-color: #ff4081 !important;

}

mat-toolbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

button.filter-button{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  outline:none;
  padding: 0px 16px;
  background: #404040;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button.filter-button.checked{
  background: -webkit-linear-gradient(60deg, rgba(255,80,170,0.9) 30%, rgba(244,129,255,0.95) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

button.filter-button:hover {
  background: -webkit-linear-gradient(60deg, rgba(255,80,170,0.9) 30%, rgba(244,129,255,0.95) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.category-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  flex-wrap: wrap;
}

label.category-label{
  margin:0;
  font-size: 12px;
  margin-right: 0px;
  font-weight: 550;
}

button.mat-button:hover{
  text-decoration: none;
}

.checkbox-menu{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.mat-menu-content{
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
}

div.mat-menu-content.category{
  flex-direction: column;
}

div.mat-menu-content.product{
  height: 120px;
  width: 240px;
  flex-direction: column;
}

div.mat-menu-content.designer{
  height: 120px;
  width: 250px;
  flex-direction: column;
}

div.mat-menu-content.store{
  height: 150px;
  width: 240px;
  flex-direction: column;
}

/* div.mat-menu-content.price{
  height: 150px;
  width: 240px;
  flex-direction: column;
} */

div.submit{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(235, 235, 235);
}

/* input[type="radio"] {
  margin-top: -1px;
  margin-right: 2px;
  vertical-align: middle;
  background-color: #ff4081;
} */

.filler {
  flex: 1 1 auto;
}

div.price-container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    min-width: 200px;
}

.submit-price{
  float: right;
  margin-left: 10px;
}

span.price.max{
  float: right;
}

@media (min-width: 600px) and (max-width: 900px)  {
  button.mat-button{
    color:black;
    font-size: 12px;
    font-family: 'Maven Pro', sans-serif;
    outline:none;
  }

  span.price.max{
    float: right;
  }

  button.filter-button{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    outline:none;
    padding: 0px 16px;
    background: #404040;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 600px)  {
  button.filter-button{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    outline:none;
    padding: 0px 16px;
    background: #404040;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  mat-toolbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    height: 48px;
    padding:0;
  }
}