<mat-toolbar>

  <button mat-button [matMenuTriggerFor]="category">Category</button>
  <mat-menu #category="matMenu">
    <mat-radio-group class="category-radio-group" (change)="onChange($event)" aria-label="Select an option">
      <mat-radio-button *ngFor="let category of categories" [value]="category.id" [checked]="category.checked">
        <label class="category-label"> {{category.name}}</label>
      </mat-radio-button>
    </mat-radio-group>
  </mat-menu>

  <button mat-button *ngIf="showProduct" [matMenuTriggerFor]="product">Product Type</button>
  <mat-menu class=checkbox-menu #product="matMenu">
    <mat-checkbox *ngFor="let product of productsToShow" name="product" [(indeterminate)]="indeterminate" [labelPosition]="labelPosition"
      [value]="product.id" [disabled]="disabled" (click)="$event.stopPropagation();">
      {{product.name}}
    </mat-checkbox>
    <div class="submit">
      <button mat-button (click)="selectedProduct()">apply</button>
    </div>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="designer">Designer</button>
  <mat-menu #designer="matMenu" class=checkbox-menu>
    <mat-checkbox *ngFor="let designer of designers" name="designer" [value]="designer.id" (click)="$event.stopPropagation();"
      (change)="OnChangeDesignerCheckBox($event)">
      {{designer.name}}
    </mat-checkbox>
    <div class="submit">
      <button mat-button (click)="selectedDesigner()">apply</button>
    </div>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="store">Store</button>
  <mat-menu #store="matMenu" class=checkbox-menu>
    <mat-checkbox *ngFor="let store of stores" class="example-margin" name="store" [value]="store.id" [disabled]="disabled" (click)="$event.stopPropagation();"
      (change)="OnChangeStoreCheckBox($event)"> {{store.name}}
    </mat-checkbox>
    <div class="submit">
      <button mat-button (click)="selectedStore()">apply</button>
    </div>
  </mat-menu>



  <button mat-button [matMenuTriggerFor]="price">Price</button>
  <mat-menu #price="matMenu">
    <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (click)="$event.stopPropagation();"></ng5-slider>
    <div class="submit">
      <button mat-button (click)="selectedPrice()">apply</button>
    </div>
  </mat-menu>

  <span class="filler"></span>


</mat-toolbar>