div.container {
  width: 100%;
  max-width: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(235,235,235);
}

div.center {
  width: 900px;
  position: relative;
  left: 0px;
  margin: auto;
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  display: inline-block;
  color: rgb(140, 140, 140);
  cursor: pointer;
  margin-right: 16px;
  margin-bottom: 12px;
  font-size: 14px;
  transition: color 200ms;
  padding: 5px 16px;
  border-radius: 30px;
  font-weight: 500;
}

.dropbtn:hover {
  color: #333;
}

.dropdown-content {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
