<!-- <div class="content">
  <div class="landing"></div>
  <div class="header">
    <div class="navbar">
      <li>
        <button type="button" class="left-button">
          <img src="../../../assets/fw_followear_white.png" />
        </button>
      </li>
      <div class="right-navbar">
        <li>
          <button type="button" class="right-button" (click)="explorePage()">
            EXPLORE
          </button>
        </li>
        <li>
          <button type="button" class="right-button sign-in" (click)="loginPage()">
            SIGN-IN/UP
          </button>
        </li>
      </div>
    </div>
  </div>

  <div class="bg-text">
    <div class="title">
      <img src="../../../assets/white_fw_center.png" />
    </div>
    <div class="moto">
      <span>OUTSMART SHOPPING TOGETHER</span>
    </div>
    <button type="button" class="sing-in-button" (click)="loginPage()">
      SIGN IN / UP
    </button>
    <div *ngIf="!desktop" class="app-store">
      <a href="https://apps.apple.com/app/followear/id1476265803">
        <img src="../../../assets/app_store_white.png" />
      </a>
    </div>
  </div>
</div> -->