.display {
  background-color: white;
}

body {
  background-color: white;
}

@media (min-width: 900px)  {
.mobile{
  display: none;
}
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
 
.mobile{
  display: none;
}
}

@media (max-width: 600px) {
  .hidden {
    display: initial;
  }
  .display {
    display: none;
  }
}
