<!-- <div class="card">
  <div class="profile-img-comp">
    <app-image-component
      [addr]="timelinePost.userProfileImageAddr"
      [profile]="true"
      class="profilePic"
    ></app-image-component>

    <div class="card-text profile">
      AdiZep
    </div>
  </div>

  <app-image-component
    (click)="openDialog()"
    [addr]="timelinePost.postImageAddr"
    [profile]="false"
  ></app-image-component>

  <div class="card-text">
    <div class="description">
      Vela studded leather-trimmed shell shoulder bag
      {{ timelinePost.description }}
    </div>
    <span class="text-left">
      $500
    </span>
    <span class="store text-right">
      net-a-porter.com
    </span>
  </div>
</div> -->