/* Equal-height card images, cf. https://stackoverflow.com/a/47698201/1375163*/
/* .card-img-top {
  object-fit: cover;
} */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 900px) {
  .card {
    width: 267px;
    height: 370px;
    margin-top: 35px;
    border: none;
    border-radius: 10px;
  }

  .card-text {
    font-weight: 400px;
    font-size: 11px;
    height: 48px;
    margin-top: 11px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'helvetica', sans-serif;
  }

  .card-text.profile {
    line-height: 42px;
    font-size: 15px;
  }

  .description {
    text-align: center;
  }

  span.store.text-right {
    float: right;
    clear: right;
    text-decoration: underline;
  }
  span.text-left {
    float: left;
    clear: left;
  }
}
/* Extra small devices (iphones) */
@media (min-width: 360px) and (max-width: 376px) {
  .card {
    width: 150px;
    margin-top: 35px;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .card-text {
    font-weight: 600;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .card-text.profile {
    line-height: 42px;
    font-size: 15px;
  }

  .profile-img-comp {
    margin-top: 10px;
  }
  span.store {
    float: right;
    clear: right;
    text-decoration: underline;
  }
}
