
<div class="mobile-search-container" matAutocompleteOrigin #origin="matAutocompleteOrigin">

	<div class="search-field-container">
		<div class="search-field">
			<input type="text"
             #search
			       [formControl]="searchControl"
			       [matAutocomplete]="auto"
			       [matAutocompleteConnectedTo]="origin"
			       (focus)="onInputFocus()"
			       class="form-control search-field__input"
			       aria-label="Search"
			       autocapitalize="none"
			       autocomplete="off"
			/>

			<div class="input-placeholder" [ngClass]="{'input-placeholder--has-value': hasValue}">
				<i class="fa fa-search input-placeholder__icon" aria-hidden="true"></i>
				<span *ngIf="!hasValue" class="input-placeholder__text">{{placeholder}}</span>
			</div>

			<span *ngIf="isLoading && hasValue" class="search-field__spinner">
				<svg viewBox="0 0 100 100">
					<rect fill="#555555" height="10" opacity="0" rx="5" ry="5" transform="rotate(-90 50 50)" width="28" x="67" y="45"></rect>
					<rect fill="#555555" height="10" opacity="0.125" rx="5" ry="5" transform="rotate(-45 50 50)" width="28" x="67" y="45"></rect>
					<rect fill="#555555" height="10" opacity="0.25" rx="5" ry="5" transform="rotate(0 50 50)" width="28" x="67" y="45"></rect>
					<rect fill="#555555" height="10" opacity="0.375" rx="5" ry="5" transform="rotate(45 50 50)" width="28" x="67" y="45"></rect>
					<rect fill="#555555" height="10" opacity="0.5" rx="5" ry="5" transform="rotate(90 50 50)" width="28" x="67" y="45"></rect>
					<rect fill="#555555" height="10" opacity="0.625" rx="5" ry="5" transform="rotate(135 50 50)" width="28" x="67" y="45"></rect>
					<rect fill="#555555" height="10" opacity="0.75" rx="5" ry="5" transform="rotate(180 50 50)" width="28" x="67" y="45"></rect>
					<rect fill="#555555" height="10" opacity="0.875" rx="5" ry="5" transform="rotate(225 50 50)" width="28" x="67" y="45"></rect>
				</svg>
			</span>
			<i *ngIf="!isLoading && hasValue" (click)="onClearInput($event)" class="fa fa-times-circle search-field__icon-close" aria-hidden="true"></i>
		</div>

		<span *ngIf="isCancelBtnVisible" class="cancel-search-btn" (click)="onCancelSearch()">Cancel</span>

		<mat-autocomplete #auto="matAutocomplete" class="mobile-search-autocomplete" panelWidth="100%">
			<div class="mobile-search-autocomplete__container">
				<mat-option *ngFor="let option of options" (click)="onGoToUser(option)">
					<div class="mobile-search-autocomplete__img">
						<img [src]="option.userAvatar" alt="">
					</div>
					<div class="mobile-search-autocomplete__info">
						<span class="mobile-search-autocomplete__firstrow">{{option.username}}</span>
						<span class="mobile-search-autocomplete__secondrow">{{option.fullName}}</span>
					</div>
				</mat-option>

				<mat-option *ngIf="!options.length && hasValue && !isLoading" class="no-results">No results available.</mat-option>
			</div>
		</mat-autocomplete>
	</div>
</div>
