<button *ngIf="showCloseButton" mat-button (click)="landingPage()">
  <i class="fal fa-times"></i>
</button>
<div mat-dialog-content [ngClass]="{ padding : !modal }">
  <div class="img-logo">
    <img src="../../../assets/fw_logo_2A.png" class="fw-logo" />
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
    <div class="form-group" id="form-group-email">
      <label for="email"></label>
      <input type="email" formControlName="emailLogin" class="form-control" placeholder="E-mail, username" [ngClass]="{
        'is-invalid': submitted && l.emailLogin.errors || wrongUser
      }" />
      <div *ngIf="wrongUser" class="invalid-feedback">
        {{msgToShow}}
      </div>
      <div *ngIf="submitted && l.emailLogin.errors?.required" class="invalid-feedback">
        E-mail or username are required
      </div>
    </div>

    <div class="form-group">
      <label for="password"></label>
      <input type="password" formControlName="passwordLogin" class="form-control" placeholder="password" [ngClass]="{
          'is-invalid': submitted && l.passwordLogin.errors || wrongPass
        }" />
      <div *ngIf="wrongPass" class="invalid-feedback">
        {{msgToShow}}
      </div>
      <div *ngIf="submitted && l.passwordLogin.errors?.required" class="invalid-feedback">
        Password is required
      </div>

      <p class="forgot-password" (click)="forgotPassword()">
        Forgot your password?
      </p>
    </div>
    <div class="form-group">
      <button class="login-button">Log In</button>
      <div *ngIf="loading" class="spin">
        <app-loading-spinner></app-loading-spinner>
      </div>
    </div>

    <div class="login-method">
      <span>OR</span>
    </div>







  </form>


  <div class="form-group">
    <button class="facebook-button">
      <a class="facebook-login" href="{{facebookLoginEndpoint}}">
        <span class="facebook-icon">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/facebook-logo-2019.png" class="fb-logo" />
        </span>
        <span class="login-with-facebook">
          Log in with Facebook
        </span>
      </a>
    </button>
  </div>


  <div class="sign-up">
    <div class="account">
      <div class="have-an-account">Don't have an account?</div>

      <!-- <div> -->
      <div *ngIf="modal" [mat-dialog-close]="register" class="register-button" (click)="regsiterPage()">
        Sign up
      </div>
      <div *ngIf="!modal" class="register-button" (click)="regsiterPage()">
        Sign up
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>
<div *ngIf="!desktop && !modal" class="app-store">
  <a href="https://apps.apple.com/app/followear/id1476265803">
    <img src="../../../assets/app_store_logo_black.png" />
  </a>
</div>