.mat-dialog-content {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
a {
  color: black;
}

h2 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.form-control {
  margin: 0 auto;
  width: 50%;
}

.form-group {
  margin: 0;
}

button {
  font-size: 14px;
}

button.btn.btn-default.login {
  display: block;
  margin: 0 auto;
  width: 50%;
}

p.forgot-password {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  margin-top: 0;
  font-size: 12px;
}

.login-method {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  margin-top: 15px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
}

.login-method span {
  background: #fff;
  padding: 0 10px;
}

button.btn.facebook {
  background-color: #6d84b4;
}

button.button-register {
  background: none;
  border: none;
  width: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}
@media (min-width: 360px) and (max-width: 376px) {
  .mat-dialog-content {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  button {
    width: 100;
  }
  button.btn.btn-default.login.facebook {
    width: 100%;
  }
}
