<button *ngIf="modal" mat-button [mat-dialog-close]="true">
  <i class="fal fa-times"></i>
</button>
<div mat-dialog-content [ngClass]="{ padding : !modal }">
  <div class="img-logo">
    <img src="../../../assets/fw_logo_2A.png" class="fw-logo" />
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
    <div class="form-group">
      <label for="email"></label>
      <input type="email" formControlName="emailLogin" class="form-control" placeholder="E-mail, username" [ngClass]="{
        'is-invalid': submitted && l.emailLogin.errors || wrongUser
      }" />
      <div *ngIf="wrongUser" class="invalid-feedback">
        {{msgToShow}}
      </div>
      <div *ngIf="submitted && l.emailLogin.errors?.required" class="invalid-feedback">
        E-mail or username are required
      </div>
    </div>

    <div class="form-group">
      <label for="password"></label>
      <input type="password" formControlName="passwordLogin" class="form-control" placeholder="password" [ngClass]="{
          'is-invalid': submitted && l.passwordLogin.errors || wrongPass
        }" />
      <div *ngIf="wrongPass" class="invalid-feedback">
        {{msgToShow}}
      </div>
      <div *ngIf="submitted && l.passwordLogin.errors?.required" class="invalid-feedback">
        Password is required
      </div>

      <p class="forgot-password">
        <a routerLink="/forgotpassword">
          Forgot your password?
        </a>
      </p>
    </div>
    <div class="form-group">
      <button class="login-button" [disabled]="!loginFormValid">Login</button>
      <div *ngIf="submitted" class="spin">
        <app-loading-spinner></app-loading-spinner>
      </div>
    </div>


    <div class="login-method">
      <span>OR</span>
    </div>

    <div class="form-group">
      <button class="facebook-button">
        <a href="{{facebookLoginEndpoint}}">
          <span class="facebook-icon">
            <img src="../../../assets/fb_logo.png" class="fb-logo" />
          </span>
          Log in with Facebook
        </a>
      </button>
    </div>
  </form>





  <div class="sign-up">
    <span>Don't have an account?</span>
    <a class="register" (click)="regsiterPage()">
      Sign up
    </a>
  </div>
</div>