<div *ngIf="showSpinner; else product">
  <app-loading-spinner class="spinner"></app-loading-spinner>
</div>
<div class="basic-container">
  <ng-template #product>
    <div *ngIf="postInfo" class="wrapper">
      <i (click)="closeModal()" class="fal fa-times"></i>
      <div class="profile-img-comp">
        <!-- <img id="profileImage" [attr.src]="userProfileSrc" /> -->
        <img id="profileImage" [attr.src]="userProfileSrc" />
        <div class="card-text profile">{{ postInfo.userName }}</div>
      </div>

      <div class="slider">
        <img id="mainImage" [attr.src]="postImageAddr" />

        <div class="product-description">
          <img class="store-logo" [attr.src]="storeLogoSrc">

          <div class="product-description" class="card-text description">
            {{postInfo.description}}
          </div>

          <div class="footer">
            <div class="upper-footer">
              <a href="{{ postInfo.link }}" target="_blank">
                <button mat-button class="shop_btn">
                  Shop
                </button>
              </a>

              <button mat-button>
                <i class="material-icons">more_horiz</i>
              </button>
              <span class="price">{{postInfo.price}}</span>
            </div>
            <div class="num-views">
              <span id="int-num-views">{{postInfo.numViews}}</span> views
            </div>
          </div>
        </div>

        <div class="lower-part">

          <div class="thumbnails">
            <img *ngFor="let image of thumbnails" class="thumbnail" [attr.src]="image" (click)="setImage(image)" />
          </div>

          <div class="more-from-user">
            <div class="more-text">more from {{ postInfo.userName }}</div>
            <div class="more-from-container">
              <img *ngFor="let post of postsToShow | async" class="more-from" [attr.src]="post.postImageAddr" (click)="openDialog(post)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>