@media (min-width: 900px) {
  .wrapper {
    background: white;
    width: 800px;
    height: 625px;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .fal {
    font-size: 26px;
    position: absolute;
    font-weight: 500;
    color: white;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }

  /* .fal {
    display: none;
  } */

  .slider {
    position: relative;
  }

  .profile-img-comp {
    margin-top: -10px;
    margin-bottom: 28px;
    margin-left: 3px;
  }

  #profileImage {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
  }

  .card-text.profile {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: rgb(47, 46, 46);
    padding-left: 16px;
    vertical-align: middle;
  }

  #mainImage {
    width: 280px;
    height: 410px;
    object-fit: cover;
    display: inline-block;
    border-radius: 20px;
  }

  .store-logo {
    height: 40px;
    margin-bottom: 28px;
  }

  .product-description {
    width: 400px;
    display: inline-block;
    position: absolute;
    top: 0px;
    margin-left: 50px;
    font-family: Arial;
    font-weight: 500;
    font-size: 22px;
    color: #333;
  }

  #description {
    vertical-align: top;
  }

  .footer {
    margin-top: 26px;
    margin-left: -7px;
  }

  span.price {
    position: absolute;
    right: 10px;
    line-height: 68px;
    color: #111;
    font-size: 22px;
    font-family: sans-serif;
  }

  button.shop_btn {
    background-color: rgb(40, 192, 94);
    color: white;
    border-radius: 50px;
    width: 102px;
    height: 58px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    outline: none;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .lower-part {
    position: relative;
  }

  .thumbnails {
    margin-top: 18px;
    display: inline-block;
  }

  img.thumbnail {
    width: 54px;
    height: 72px;
    margin-right: 16px;
    border-radius: 8px;
    object-fit: cover;
  }

  .more-from-user {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  .more-text {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 400;
    color: black;
  }

  img.more-from:last-of-type {
    margin-right: 0px;
  }

  img.more-from {
    height: 120px;
    width: 90px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 6px;
  }

  .material-icons {
    color: rgb(166, 166, 166);
    font-size: 40px;
  }
}
/* } */
.basic-container {
  overflow-y: auto !important;
  pointer-events: auto !important;
}


@media (min-width: 600px) and (max-width: 900px) {
  .wrapper {
    background: white;
    width: 400px;
    height: 500px;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .fal {
    font-size: 26px;
    font-weight: 500;
    position: absolute;
    color: white;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }

  .slider {
    position: relative;
  }

  .profile-img-comp {
    margin-top: -10px;
    margin-bottom: 28px;
    margin-left: 3px;
  }

  #profileImage {
    border-radius: 50%;
    width: 33px;
    height: 33px;
    display: inline-block;
  }

  .card-text.profile {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(47, 46, 46);
    padding-left: 16px;
    vertical-align: middle;
  }

  #mainImage {
    width: 186px;
    height: 273px;
    object-fit: cover;
    display: inline-block;
    border-radius: 20px;
  }

  .store-logo {
    width: 53px;
    height: 20px;
    margin-bottom: 10px;
  }

  .product-description {
    width: 266px;
    display: inline-block;
    position: absolute;
    top: 0px;
    margin-left: 33px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue' Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #333;
  }

  #description {
    vertical-align: top;
  }

  .footer {
    margin-top: 20px;
    margin-left: -7px;
  }

  span.price {
    position: absolute;
    right: 10px;
    line-height: 68px;
    color: rgb(114, 114, 114);
    font-size: 22px;
    font-family: sans-serif;
  }

  button.shop_btn {
    background-color: rgb(40, 192, 94);
    color: white;
    border-radius: 50px;
    width: 60px;
    height: 40px;
    border: none;
    font-size: 15px;
    outline: none;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .lower-part {
    position: relative;
  }

  .thumbnails {
    margin-top: 18px;
    display: inline-block;
  }

  img.thumbnail {
    width: 54px;
    height: 72px;
    margin-right: 16px;
    border-radius: 8px;
    object-fit: cover;
  }

  .more-from-user {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  .more-text {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 400;
    color: black;
  }

  img.more-from:last-of-type {
    margin-right: 0px;
  }

  img.more-from {
    height: 120px;
    width: 90px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 6px;
  }

  .material-icons {
    color: rgb(166, 166, 166);
    font-size: 40px;
  }
}



@media (max-width: 600px) {
  .wrapper {
    height: 430px;
    background:white;
  }

  .lower-part {
    display: none;
  }

  #profileImage {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin-top: 0;
  }

  #mainImage {
    width: 200px;
    height: 250px;
    border: solid 0.8px;
    border-color: lightgray;
  }

  .product-description {
    width: 250px;
    float: center;
    clear: right;
    margin-top: 10px;
  }

  button.mat-button {
    display: none;
  }

  .imgStyle {
    width: 50px;
    height: 60px;
    margin-right: 10px;
  }

  .card-text.profile {
    line-height: 64px;
    font-size: 15px;
    height: 50px;
    margin-bottom: 15px;
    display: inline-block;
  }

  span.text-right {
    float: right;
    clear: right;
    line-height: 30px;
    font-weight: 400;
    color: gray;
    font-size: 16px;
  }

  .more-from-user {
    display: none;
  }

  .more-text {
    font-weight: 500;
  }

  button.shop_btn {
    background-color: rgb(255, 140, 0);
    color: white;
    border-radius: 50px;
    width: 60px;
    height: 30px;
    border: none;
    font-size: 18px;
    outline: none;
  }

  img.store-logo {
    width: 60px;
    height: 20px;
  }

  .users-additional {
    height: 90px;
    width: 80px;
  }
}

/* @media (min-width: 900px) { */
