<div *ngIf="showSpinner; else product">
  <app-loading-spinner class="spinner"></app-loading-spinner>
</div>
<div class="basic-container">
  <ng-template #product>
    <div *ngIf="postInfo" class="wrapper">
      <i (click)="closeModal()" class="fal fa-times"></i>
      <div class="profile-img-comp" (click)="profilePage()">

        <img id="profileImage" [attr.src]="userProfileSrc" />
        <div class="card-text img-profile">{{ postInfo.userName }}</div>
      </div>

      <div class="slider">
        <img id="mainImage" [attr.src]="postImageAddr" />

        <div class="product-description">
          <div class="image-container">
            <img class="store-logo" [attr.src]="storeLogoSrc">
          </div>
          <div class="product-description" class="card-text description">
            {{postInfo.description}}
          </div>

          <div class="footer">
            <div class="upper-footer">
              <a href="{{ postInfo.link }}" target="_blank">
                <button mat-button class="shop_btn">
                  Shop
                </button>
              </a>

              <button mat-button class="vertical-menu" [matMenuTriggerFor]="soldOut">
                <i class="material-icons">more_horiz</i>
              </button>
              <mat-menu #soldOut="matMenu" yPosition="below">
                <div class="mat-menu-content">
                  <button mat-menu-item class="btn-menu"> Report out of stock</button>
                  <button mat-menu-item class="btn-menu" (click)="hidePost(postInfo.postId)"> Hide </button>
                  <button *ngIf="userProfile" mat-menu-item class="btn-menu" (click)="removePost(postInfo.postId)"> Remove
                  </button>
                </div>
              </mat-menu>

              <span class="price">{{postInfo.price}}</span>
            </div>
            <div *ngIf="registeredUser" class="num-views">
              <i *ngIf="saveButtonClicked" class="fas fa-star save-item" (click)="toggleSaveButton()"></i>
              <i *ngIf="!saveButtonClicked" class="far fa-star save-item" (click)="toggleSaveButton()"></i>
              <i *ngIf="!likeButtonClicked" class="fal fa-heart like-item" (click)="toggleLikeButton()"></i>
              <i *ngIf="likeButtonClicked" class="fas fa-heart like-item" (click)="toggleLikeButton()"></i>
              <span *ngIf="likeList.length == 0 && (!likeButtonClicked)" id="int-num-views">{{numLikes}} likes
              </span>
              <span *ngIf="likeList.length == 0 && (likeButtonClicked); else showLikeList" id="int-num-views">{{numLikes}} likes</span>
              <div class="like-list">
                <ng-template #showLikeList id="int-num-views">
                  <span *ngIf="likeList.length == 1; else showExtendedLikeList" class="like-list" (click)="goToLikeList()">liked by {{likeList[0].username}} </span>
                </ng-template>
                <ng-template #showExtendedLikeList id="int-num-views">
                  <span *ngIf="likeList.length >= 2" class="like-list" (click)="goToLikeList()">
                    liked by {{likeList[0].username}}, {{likeList[1].username}} and {{numLikes -2 }} others</span>
                </ng-template>
              </div>
            </div>
          </div>
        </div>

        <div class="lower-part">

          <div class="thumbnails">
            <img *ngFor="let image of thumbnails" class="thumbnail" [attr.src]="image" (click)="setImage(image)" />
          </div>

          <div class="more-from-user">
            <div class="more-text">more from {{ postInfo.userName }}</div>
            <div class="more-from-container">
              <img *ngFor="let post of postsToShow | async" class="more-from" [attr.src]="post.postImageAddr" (click)="openDialog(post)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>