button{
  border:none;
  outline: none;
}

button.mat-button{
  border:none;
  outline: none;
}

.mat-menu-content{
  width:180px !important;
}

button.btn-menu.mat-menu-item{
  outline:none;
}

.fa-heart{
  margin-right: 8px;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
}


@media (min-width: 900px) {
  .wrapper {
    background: white;
    width: 800px;
    height: 625px;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .fal.fa-times{
    font-size: 26px;
    position: absolute;
    font-weight: 500;
    color: white;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }
  .slider {
    position: relative;
  }

  .profile-img-comp {
    margin-top: -10px;
    margin-bottom: 28px;
    margin-left: 3px;
    display: flex;
    flex-direction: row;
  }

  #profileImage {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
  }

  .card-text.img-profile {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: rgb(47, 46, 46);
    padding-left: 16px;
    vertical-align: middle;
    line-height: 50px;
  }

  #mainImage {
    width: 280px;
    height: 410px;
    object-fit: cover;
    display: inline-block;
    border-radius: 20px;
  }

  .image-container{
    height: 40px;
    width: 250px;
    margin-bottom: 28px;
  }

   .store-logo {
    height: 100%;
    object-fit: contain;
  } 

  /* .store-logo {
    height: 40px;
    width:180px;
    margin-bottom: 28px;
  } */

  .product-description {
    width: 400px;
    display: inline-block;
    position: absolute;
    top: 0px;
    margin-left: 50px;
    font-family: Arial;
    font-weight: 500;
    font-size: 22px;
    color: rgb(38,38,38);
  }

  #description {
    vertical-align: top;
  }

  .footer {
    margin-top: 26px;
    margin-left: -7px;
  }

  span.price {
    position: absolute;
    right: 10px;
    line-height: 68px;
    color: #111;
    font-size: 22px;
    font-family: sans-serif;
  }

  button.shop_btn {
    background-color: rgb(40, 192, 94);
    color: white;
    border-radius: 50px;
    width: 102px;
    height: 58px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    outline: none;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .num-views {
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 10px;
    color: rgb(52,52,52);
    letter-spacing: -0.2px;
  }

  #int-num-views {
    letter-spacing: -0.2px;
  }

  .lower-part {
    position: relative;
  }

  .thumbnails {
    margin-top: 18px;
    display: inline-block;
  }

  img.thumbnail {
    width: 54px;
    height: 72px;
    margin-right: 16px;
    border-radius: 8px;
    object-fit: cover;
  }

  .more-from-user {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  .more-text {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 400;
    color: black;
  }

  img.more-from:last-of-type {
    margin-right: 0px;
  }

  img.more-from {
    height: 120px;
    width: 90px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 6px;
  }

  .material-icons {
    color: rgb(166, 166, 166);
    font-size: 40px;
  }
}
/* } */
.basic-container {
  overflow-y: auto !important;
  pointer-events: auto !important;
}


@media (min-width: 600px) and (max-width: 900px) {
  .wrapper {
    background: white;
    width: 550px;
    height: 625px;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .fal.fa-times {
    font-size: 18px;
    position: absolute;
    font-weight: 500;
    color: white;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }
  .slider {
    position: relative;
  }

  .profile-img-comp {
    margin-top: -10px;
    margin-bottom: 28px;
    margin-left: 3px;
    display: flex;
    flex-direction: row;
  }

  #profileImage {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
  }

  .card-text.img-profile {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: rgb(47, 46, 46);
    padding-left: 16px;
    vertical-align: middle;
    line-height: 50px;
  }

  #mainImage {
    width: 240px;
    height: 370px;
    object-fit: cover;
    display: inline-block;
    border-radius: 20px;
  }

  .store-logo {
    height: 40px;
    margin-bottom: 28px;
  }

  .product-description {
    width: 200px;
    display: inline-block;
    position: absolute;
    top: 0px;
    margin-left: 50px;
    font-family: Arial;
    font-weight: 500;
    font-size: 16px;
    color: rgb(38,38,38);
  }

  #description {
    vertical-align: top;
  }

  .footer {
    margin-top: 26px;
    margin-left: -7px;
  }

  span.price {
    position: absolute;
    right: 10px;
    line-height: 40px;
    color: #111;
    font-size: 16px;
    font-family: sans-serif;
  }

  button.shop_btn {
    background-color: rgb(40, 192, 94);
    color: white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    outline: none;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .num-views {
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 10px;
    color: rgb(52,52,52);
    letter-spacing: -0.2px;
  }

  #int-num-views {
    letter-spacing: -0.2px;
  }

  .lower-part {
    position: relative;
  }

  .thumbnails {
    margin-top: 45px;
    display: inline-block;
  }

  img.thumbnail {
    width: 65px;
    height: 80px;
    margin-right: 16px;
    border-radius: 8px;
    object-fit: cover;
  }

  .more-from-user {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  .more-text {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 400;
    color: black;
  }

  img.more-from:last-of-type {
    margin-right: 0px;
  }

  img.more-from {
    height: 90px;
    width: 80px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 6px;
  }

  .material-icons {
    color: rgb(166, 166, 166);
    font-size: 40px;
  }
}



@media (max-width: 600px) {
  .wrapper {
    background: white;
    width: 450px;
    height: 520px;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .fal.fa-times {
    font-size: 18px;
    position: absolute;
    font-weight: 500;
    color: white;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }
  .slider {
    position: relative;
  }

  .profile-img-comp {
    margin-top: -10px;
    margin-bottom: 28px;
    margin-left: 3px;
    display: flex;
    flex-direction: row;
  }

  #profileImage {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
  }

  .card-text.img-profile {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: rgb(47, 46, 46);
    padding-left: 16px;
    vertical-align: middle;
    line-height: 50px;
  }

  #mainImage {
    width: 190px;
    height: 270px;
    object-fit: cover;
    display: inline-block;
    border-radius: 20px;
  }

  .store-logo {
    height: 40px;
    margin-bottom: 28px;
  }

  .product-description {
    width: 180px;
    display: inline-block;
    position: absolute;
    top: 0px;
    margin-left: 30px;
    font-family: Arial;
    font-weight: 500;
    font-size: 16px;
    color: rgb(38,38,38);
  }

  #description {
    vertical-align: top;
  }

  .footer {
    margin-top: 26px;
    margin-left: -7px;
  }

  span.price {
    position: absolute;
    right: 10px;
    line-height: 40px;
    color: #111;
    font-size: 16px;
    font-family: sans-serif;
  }

  button.shop_btn {
    background-color: rgb(40, 192, 94);
    color: white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    outline: none;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .num-views {
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 10px;
    color: rgb(52,52,52);
    letter-spacing: -0.2px;
  }

  #int-num-views {
    letter-spacing: -0.2px;
  }

  .lower-part {
    position: relative;
  }

  .thumbnails {
    margin-top: 45px;
    display: inline-block;
  }

  img.thumbnail {
    width: 55px;
    height: 70px;
    margin-right: 16px;
    border-radius: 8px;
    object-fit: cover;
  }

  .more-from-user {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  .more-text {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 400;
    color: black;
  }

  img.more-from:last-of-type {
    margin-right: 0px;
  }

  img.more-from {
    height: 90px;
    width: 60px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 6px;
  }

  .material-icons {
    color: rgb(166, 166, 166);
    font-size: 40px;
  }
}

/* @media (min-width: 900px) { */
