<div *ngIf="user as currentUser" class="wrapper">
  <div class="profile-img-comp">
    <img id="profileImage" [attr.src]="userProfileSrc" />
    <div class="card-text profile">
      {{ currentUser.username }}
    </div>
  </div>
  <div class="slider">
    <div class="mainImage">
      <img id="mainImage" [attr.src]="userPost.postImgSrc" />
      <div class="product-description">
        <p class="card-text title">
          <img src="../../../assets/zara.PNG" class="store-logo" />
        </p>
        <p id="description" class="card-text description">
          {{ postInfo.description }}
        </p>
        <div class="footer">
          <div class="upper-footer">
            <span class="text-left">
              <button type="button" class="shop_btn">
                <a href="{{ postInfo.link }}">Shop</a>
              </button>
              <button mat-button>
                <i class="material-icons"> more_horiz</i>
              </button>
            </span>
            <span class="text-right">
              $500
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="lower-part">
      <!-- <div class="thumbnails" *ngFor="let image of postsToShow">
        <img
          class="imgStyle"
          [attr.src]="image['imgSrc']"
          (click)="setImage(image)"
        />
      </div> -->
      <div class="more-from-user">
        <div class="more-text">
          See more products from {{ currentUser.username }}
        </div>
        <div class="posts-more-from" *ngFor="let post of postsToShow">
          <img
            class="users-additional"
            [attr.src]="post['imgSrc']"
            (click)="setImageAndText(post)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
