<div *ngIf="user | async as currentUser" class="wrapper">
  <div class="profile-img-comp">
    <app-image-component
      [addr]="currentUser.profileImageAddr"
      [profile]="true"
      class="profilePic"
    ></app-image-component>

    <div class="card-text profile">
      {{ currentUser.username }}
    </div>
  </div>

  <div class="slider">
    <div class="mainImage">
      <img id="mainImage" [attr.src]="mainImageSrc" />
      <div class="product-description">
        <p class="card-text title">
          <img src="../../../assets/zara.PNG" class="store-logo" />
        </p>
        <p id="description" class="card-text description">
          text {{ post.description }}
        </p>

        <div class="footer">
          <div class="upper-footer">
            <span class="text-left">
              <button type="button" class="shop_btn">
                Shop
              </button>
              <button mat-button>
                <i class="material-icons"> more_horiz</i>
              </button>
            </span>
            <span class="text-right">
              <div class="price">
                $500
              </div>
              <!-- <div class="store">
                net-a-porter.com
              </div> -->
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="lower-part">
      <div class="thumbnails" *ngFor="let image of imagesToShow">
        <img class="imgStyle" [attr.src]="image" (click)="setImage(image)" />
      </div>
      <div class="more-from-user">
        <div class="more-text">more from {{ user.username }}</div>
        <div class="posts-more-from" *ngFor="let image of imagesToShow">
          <img
            class="users-additional"
            [attr.src]="image"
            (click)="setImageAndText(image)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
