/* Equal-height card images, cf. https://stackoverflow.com/a/47698201/1375163*/
.card-img-top {
  /*height: 11vw;*/
  object-fit: cover;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card-img-top {
    height: 19vw;
    padding: 30px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-img-top {
    height: 16vw;
    padding: 30px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-img-top {
    height: 5vw;
    width: 20vw;
    padding: 30px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
  .card-img-top {
    height: 11vw;
  }
}

.card {
  border: none;
  margin-top: 30px;
}
.card-body {
  padding-left: 18px;
}
.footer span.store {
  float: right;
}

.card-text {
  font-weight: 600;
}
