<div class="card">
  <app-image-component
    (click)="openDialog()"
    [addr]="userPost.postImageAddr"
    [profile]="false"
  ></app-image-component>
  <div class="card-body">
    <div class="card-text">
      <div class="description">
        Vela studded leather-trimmed shell shoulder bag
        {{ userPost.description }}
      </div>

      <span class="text-left">
        $500
      </span>
      <span class="store text-right">
        net-a-porter.com
      </span>
    </div>
  </div>
</div>
