.navbar-nav,
.mr-auto {
  flex: 1;
  /* margin: 0 !important; */
  margin: 40px;
  display: flex;
  justify-content: space-between;
  /* color: white; */
}
.fa.fa-navicon {
  color: white;
}

.navbar {
  /* margin-bottom: 30px;
  margin-top: 30px; */
}

.simple-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-right: 10px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 576px) {
  #cat {
    margin-left: 70px;
  }
  #prx {
    margin-right: 70px;
  }
}
