<nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle "
          data-toggle="dropdown"
          role="button
    "
          aria-haspopup="true "
          aria-expanded="false "
          >{{ categoriesTitle.title }}</a
        >
        <div class="dropdown-menu ">
          <button
            *ngFor="let prod of categoriesTab"
            (click)="filterMenu('categoris', prod)"
            class="dropdown-item "
          >
            {{ prod }}
          </button>
          <div class="dropdown-divider "></div>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a
          class="nav-link dropdown-toggle "
          data-toggle="dropdown"
          role="button
    "
          aria-haspopup="true "
          aria-expanded="false "
          >{{ productTitle.title }}</a
        >
        <div class="dropdown-menu ">
          <button
            *ngFor="let prod of productType[index]"
            (click)="filterMenu('productType', prod)"
            class="dropdown-item "
          >
            {{ prod }}
          </button>
          <div class="dropdown-divider "></div>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a
          class="nav-link dropdown-toggle "
          data-toggle="dropdown"
          role="button
    "
          aria-haspopup="true "
          aria-expanded="false "
          >{{ designerTitle.title }}</a
        >
        <div class="dropdown-menu ">
          <button
            *ngFor="let prod of designerTab"
            (click)="filterMenu('designer', prod)"
            class="dropdown-item "
          >
            {{ prod }}
          </button>
          <div class="dropdown-divider "></div>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a
          class="nav-link dropdown-toggle "
          data-toggle="dropdown "
          role="button
    "
          aria-haspopup="true "
          aria-expanded="false "
          >{{ storesTitle.title }}</a
        >
        <div class="dropdown-menu ">
          <button
            *ngFor="let prod of storesTab"
            (click)="filterMenu('stores', prod)"
            class="dropdown-item "
          >
            {{ prod }}
          </button>

          <div class="dropdown-divider "></div>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a
          class="nav-link dropdown-toggle "
          data-toggle="dropdown "
          role="button
    "
          aria-haspopup="true "
          aria-expanded="false "
          >{{ priceTitle.title }}</a
        >
        <div class="dropdown-menu ">
          <button
            *ngFor="let prod of priceTab"
            (click)="filterMenu('price', prod)"
            class="dropdown-item "
          >
            {{ prod }}
          </button>
          <div class="dropdown-divider "></div>
        </div>
      </li>
    </ul>
  </div>
</nav>
