/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
}

.mat-dialog-container {
  border-radius: 4px !important;
  padding: 0px !important;
}

/* .cdk-global-overlay-wrapper {
  pointer-events: auto;
  display: block;
  position: relative;
  overflow: auto;
  text-align: center;
} */

.cdk-overlay-pane {
  display: inline-block;
  position: relative;
  text-align: left;
  white-space: normal;
} 

.cdk-global-overlay-wrapper::before {
  content: '';
  display: block;
  border-radius: 0px;
  white-space: nowrap;
  min-height: 8%;
}

.cdk-global-overlay-wrapper::after {
  content: '';
  display: block;
  border-radius: 0px;
  white-space: nowrap;
  min-height: 8%;
}

.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
