<div class="top-navbar" *ngIf="desktop">
  <app-navbar></app-navbar>
</div>
<div class="collection-container">
  <div *ngIf="user | async; let user" class="user-section">
    <div (click)="profilePage(user.id)" class="img-comp">
      <img [attr.src]="user.profileImageAddr" />
    </div>
    <div (click)="profilePage(user.id)" class="username">
      {{user.username}}
    </div>
  </div>


  <div *ngIf="collectionInfo" class="collection-cover">
    <img class="collection-img" [src]="collectionInfo.collectionImageAddr" />
    <div class="title-text">{{collectionInfo.collectionName}}</div>
  </div>
</div>




<div *ngIf="posts.length > 0" class="search-results">
  <div id="main-body">
    <div class="center">
      <div class="items">
        <div class="card masonry-item" *ngFor="let post of posts">
          <div *ngIf="desktop; else mobileView">
            <div [ngClass]="post.thumbnail ? 'masonry-img thumb' : 'masonry-img' ">
              <img (click)="openDialog(post)" [src]="post.postImageAddr" class=" img-main " />
              <div class="self-thumb-icon-container" *ngIf="post.selfThumb ">
                <img src="../../../assets/frame2.svg" class="self-thumb-icon" />
              </div>
              <div *ngIf="post.thumbnail" class="overlay">
                <img [src]="post.thumbnail" class="img-main hover" (click)="openPostOrLogin(post)" />
                <div class="self-thumb-icon-container" *ngIf="post.selfThumb ">
                  <img src="../../../assets/frame2.svg" class="self-thumb-icon" />
                </div>
              </div>
            </div>
          </div>

          <ng-template #mobileView>
            <div class="masonry-img">
              <img (click)="openPostOrLogin(post)" [src]="post.postImageAddr" class="img-main" />
              <div class="self-thumb-icon-container" *ngIf="post.selfThumb ">
                <img src="../../../assets/frame2.svg" class="self-thumb-icon" />
              </div>
            </div>
          </ng-template>

          <div class="card-text">
            <div class="description">
              {{ post.description }}
            </div>

            <div *ngIf="postSalePrice(post) ;else noDiscount" class="price discount">
              <span class="strike-original-price"> {{ post.price }}</span> {{post.salePrice}}
            </div>
            <ng-template #noDiscount>
              <div class="price">
                {{ post.price }}
              </div>
            </ng-template>
            <a class="store text-right" href="{{ post.link }}" target=" _blank ">
              {{desktop ? post.website : '(' + post.website + ')'}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>