<nav>
  <div class="fw-navbar max-width-container">
    <div class="logo">
      <img src="../../../assets/landing-logo.png" class="logo" />
    </div>
    <div class="action-buttons">
      <span class="explore" (click)="explorePage()">
        Explore
      </span>
      <span class="login" (click)="loginPage()">
        Sign In
      </span>
      <span class="signup" (click)="registerPage()">
        Sign up
      </span>
    </div>
  </div>
</nav>

<div class="content-container">
  <div class="wrapper max-width-container">
    <div class="content">
      <div class="main-sentence">
        Follow People,
      </div>
      <div class="main-sentence sub-header">
        Shop Their Taste.
      </div>
      <div class="extra-content">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      </div>
      <div class="sign-up-button" (click)="registerPage()">
        <span class="btn signup lower">
          Sign up
        </span>
      </div>
    </div>

    <div class="slots-container">

      <div *ngIf="firstSlot | async ; let firstSlot" class="card-wrapper">
        <div class="card-upper" (click)="profilePage(firstSlot)">
          <div class="user-profile-image">
            <img [src]="firstSlot.userProfileImageAddr">
          </div>
          <div class="user-name">{{firstSlot.userName}}</div>
        </div>
        <div class="user-post" (click)="openProductPage(firstSlot)">
          <img [src]="firstSlot.postImageAddr">
        </div>
      </div>

      <div *ngIf="secondSlot | async ; let secondSlot" class="card-wrapper">
        <div class="card-upper" (click)="profilePage(secondSlot)">
          <div class="user-profile-image">
            <img [src]="secondSlot.userProfileImageAddr">
          </div>
          <div class="user-name">{{secondSlot.userName}}</div>
        </div>
        <div class="user-post" (click)="openProductPage(secondSlot)">
          <img [src]="secondSlot.postImageAddr">
        </div>
      </div>

      <div *ngIf="thirdSlot | async ; let thirdSlot" class="card-wrapper">
        <div class="card-upper" (click)="profilePage(thirdSlot)">
          <div class="user-profile-image">
            <img [src]="thirdSlot.userProfileImageAddr">
          </div>
          <div class="user-name">{{thirdSlot.userName}}</div>
        </div>
        <div class="user-post" (click)="openProductPage(thirdSlot)">
          <img [src]="thirdSlot.postImageAddr">
        </div>
      </div>

      <div *ngIf="fourthSlot | async ; let fourthSlot" class="card-wrapper">
        <div class="card-upper" (click)="profilePage(fourthSlot)">
          <div class="user-profile-image">
            <img [src]="fourthSlot.userProfileImageAddr">
          </div>
          <div class="user-name">{{fourthSlot.userName}}</div>
        </div>
        <div class="user-post" (click)="openProductPage(fourthSlot)">
          <img [src]="fourthSlot.postImageAddr">
        </div>
      </div>

      <div *ngIf="fifthSlot | async ; let fifthSlot" class="card-wrapper">
        <div class="card-upper" (click)="profilePage(fifthSlot)">
          <div class="user-profile-image">
            <img [src]="fifthSlot.userProfileImageAddr">
          </div>
          <div class="user-name">{{fifthSlot.userName}}</div>
        </div>
        <div class="user-post" (click)="openProductPage(fifthSlot)">
          <img [src]="fifthSlot.postImageAddr">
        </div>
      </div>

    </div>

  </div>


  <div class="already-on-followear max-width-container">
    <div class="already-title">
      Already on Followear
    </div>
    <div class="already-text">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    </div>
  </div>

  <div class="carousel-container">
    <div class="carousel-wrapper max-width-container">
      <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
          <div *ngFor="let user of usersCarousel ; let i = index" class="carousel-item" [ngClass]="{'active': i==0}">

            <div *ngFor="let item of user" class="col-md-4">

              <div class="card card-body">
                <div class="content-wrapper">
                  <div class="user">
                    <div class="profile-img" (click)="loginPage()">
                      <img [src]="item.userAvatar" class="profile-image">
                    </div>
                    <div class="user-section">
                      <div class="user-info" (click)="loginPage()">
                        <div class="user-name">
                          {{item.username}}
                        </div>
                        <div class="user-followers">
                          {{item.numFollowers}}
                          <span class="text"> followers </span>
                        </div>
                      </div>
                      <div class="follow" (click)="loginPage()">
                        <button class="follow-button">
                          Follow
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="user-posts">
                    <div *ngFor="let post of getItemsDesktop(item.items) ; let i = index" class="image-container" [style.background-image]="'url(' + post.imageAddr +')'"
                      (click)="loginPage()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="explore-section">
    <span class="text-explore" (click)="explorePage()">
      Explore
    </span>
    <i class="far fa-angle-right"></i>
  </div>

  <div class="third-slide" *ngIf="desktop">
    <div class="content-third-slide max-width-container">
      <div class="content-left">
        <div>
          <div class="main-sentence third-slide-sentence">
            Shopping Was Never
          </div>
          <div class="main-sentence sub-header">
            That Easy
          </div>
          <div class="extra-content">
            when you follow people you love, you see items you like. It's that simple.
          </div>
          <div class="sign-up-button" (click)="loginPage()">
            <span class="btn signup lower">
              Let me in
            </span>
          </div>
        </div>
      </div>
      <div class="content-right">
        <img src="../../../assets/look-at-this-dress.jpg">
      </div>
    </div>
  </div>

  <div class="third-slide" *ngIf="!desktop">
    <div class="content third-slide">
      <div class="content-left">
        <img src="../../../assets/shopping_easy.png">
        <div class="text-third-slide">
          <div class="main-sentence third-slide-sentence">
            Shopping Was
          </div>
          <div class="main-sentence sub-header">
            Never That Easy
          </div>
          <div class="extra-content">
            when you follow people you love, you see items you like. It's that simple.
          </div>
          <div class="sign-up-button" (click)="loginPage()">
            <span class="btn signup lower">
              Let me in
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper forth-slide max-width-container">
    <div class="content forth-slide">
      <div class="content-left">
        <img src="../../../assets/external_iphone.png" class="save">
      </div>
      <div class="content-right forth-slide">
        <div class="main-sentence forth-slide">
          Save From Anywhere
        </div>
        <div class="main-sentence forth-slide sub-header">
          Filter Everything
        </div>
        <div class="extra-content">
          save items from your favortie stores and filter to your needs
        </div>
        <div class="app-store-button">
          <a href="https://apps.apple.com/app/followear/id1476265803">
            <img src="../../../assets/app_store_black.png">
          </a>
        </div>
      </div>

    </div>
  </div>

  <!-- <div class="fifth-slide">
    <div class="fifth-slide content">
      <div class="main-sentence">
        Join Followear Today!
      </div>
      <div class="buttons-container">
        <span class="btn signup lower">
          Get Started
        </span>
      </div>
    </div>
  </div> -->

  <div class="footer">
    <div class="content max-width-container">
      <div class="row first">
        <img src="../../../assets/landing-logo.png" class="logo" />
      </div>
      <div class="row second">
        <div class="apps-column">
          <!-- <h3 class="column-title">Download the app</h3> -->
          <a href="https://apps.apple.com/app/followear/id1476265803">
            <img src="../../../assets/app_store_black.png">
          </a>
        </div>
        <span class="btn signup lower" (click)="loginPage()">
          Sign Up
        </span>
        <span class="btn signup lower sign-in" (click)="registerPage()">
          Sign In
        </span>
      </div>
    </div>
  </div>

</div>

<!-- end of desktop template -->

<!-- mobile -->

<!-- <div class="mobile-wrapper" *ngIf="!desktop">
  <nav>
    <div class="fw-navbar">
      <div class="logo">
        <img src="../../../assets/fw_logo_pink.png" class="logo" />
      </div>
      <div class="action-buttons">
        <span class="btn explore" (click)="explorePage()">
          Explore
        </span>
        <span class="btn login" (click)="loginPage()">
          Sign In
        </span>
        <span class="btn signup" (click)="regsiterPage()">
          Sign up
        </span>
      </div>
    </div>
  </nav>

  <div class="wrapper">
    <div class="content">
      <div class="main-sentence">
        Follow People,
      </div>
      <div class="main-sentence sub-header">
        Shop Their Taste.
      </div>
      <div class="extra-content">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      </div>
      <div class="sign-up-button" (click)="registerPage()">
        <span class="btn signup lower">
          Sign up
        </span>
      </div>
    </div>

    <div class="row">

      <div class="column first">
        <div class="card-wrapper">
          <div class="card-upper">
            <div class="user-profile-image">
              <img src="http://placehold.it/380?text=7">
            </div>
            <div class="user-name">Dana Cohen</div>
          </div>
          <div class="user-post">
            <img src="../../../assets/external_website_post.png">
          </div>
        </div>
      </div>

      <div class="column second">
        <div class="card-wrapper second">
          <div class="card-upper">
            <div class="user-profile-image">
              <img src="http://placehold.it/380?text=7">
            </div>
            <div class="user-name">Dana Cohen</div>
          </div>
          <div class="user-post">
            <img src="../../../assets/external_website_post.png">
          </div>
        </div>

      </div>
      <div class="column third">

        <div class="card-wrapper">
          <div class="card-upper">
            <div class="user-profile-image">
              <img src="http://placehold.it/380?text=7">
            </div>
            <div class="user-name">Dana Cohen</div>
          </div>
          <div class="user-post">
            <img src="../../../assets/external_website_post.png">
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="third-slide">
    <div class="content third-slide">
      <div class="content-left">
        <img src="../../../assets/shopping_easy.png">
        <div class="text-third-slide">
          <div class="main-sentence third-slide-sentence">
            Shopping Was
          </div>
          <div class="main-sentence sub-header">
            Never That Easy
          </div>
          <div class="extra-content">
            when you follow people you love, you see items you like. It's that simple.
          </div>
          <div class="sign-up-button" (click)="loginPage()">
            <span class="btn signup lower">
              Let me in
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->