<nav>
  <div class="fw-navbar">
    <div class="logo">
      <img src="../../../assets/landing-logo.png" class="logo" />
    </div>
    <div class="action-buttons">
      <span class="btn explore">
        Explore
      </span>
      <span class="btn login">
        Sign In
      </span>
      <span class="btn signup">
        Sign up
      </span>
    </div>
  </div>
</nav>

<div class="wrapper">
  <div class="content">
    <div class="main-sentence">
      Follow People,
    </div>
    <div class="main-sentence sub-header">
      Shop Their Taste
    </div>
    <div class="extra-content">
      Lorem ispum
    </div>
  </div>
  <div class="posts-layout">

  </div>
</div>