
nav {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 70px;
  transition: top 0.4s;
  position: fixed;
  top: 0;
  z-index: 100;
}

.fw-navbar{
  width: 82%;
  min-width: 760px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.logo {
  display: flex;
  align-items: center;
}

img.logo{
  height: 32px;
}

.action-buttons {
  display: flex;
  align-items: center;
}

.action-buttons span{
  width: 84px;
  font-size: 19px;
  color: #7F7EFF;
  cursor: pointer;
  margin-left: 20px;
  font-family: 'Open Sans';
}

.action-buttons span.signup{
  color: #FFFFFF;
  background: #7F7EFF 0% 0% no-repeat padding-box;
  border-radius: 21px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  width: 106px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}

.content-container {
  width: 100%;
  min-width: 760px;
  overflow-x: hidden;
  color: #202125;
}

.max-width-container {
  max-width: 1480px;
}

.wrapper{
  margin-top: 100px;
  display: flex;
  width: 82%;
  min-width: 760px;
  height: 100%;
  min-height: 750px;
  margin-left: auto;
  margin-right: auto;
}

.content{
  width:50%;
  margin-top: 160px;
  font-family: 'Open Sans';
  padding-right: 42px;
}

.slots-container {
  width: 50%;
  position: relative;
}

.main-sentence{
  font-size: 52px;
  font-weight: 600;
}

// .main-sentence.sub-header{
//   font-weight: bold;
// }

.extra-content{
  display: flex;
  flex-wrap: wrap;
  max-width: 421px;
  margin-top: 43px;
  font-size: 24px;
}

.sign-up-button{
  margin-top: 49px;
}

span.btn.signup.lower {
  color: #FFFFFF;
  background: transparent linear-gradient(59deg, #FE52AE 0%, #F481FE 100%) 0% 0% no-repeat padding-box; 
  border-radius: 43px;
  padding: 9px 36px;
  font-size: 18px;
  font-weight: 600;
}

.card-wrapper {
  overflow: hidden;
  width: 230px;
}

.card-wrapper:nth-child(1) {
  position: absolute;
  left: 0px;
  top: 256px;
} 

.card-wrapper:nth-child(2) {
  position: absolute;
  left: 250px;
  top: 66px;
}

.card-wrapper:nth-child(3) {
  position: absolute;
  left: 250px;
  top: 420px;
}

.card-wrapper:nth-child(4) {
  position: absolute;
  left: 500px;
  top: 20px;
}

.card-wrapper:nth-child(5) {
  position: absolute;
  left: 500px;
  top: 374px;
}

.card-upper{
  display:flex;
  margin-bottom: 10px;
  cursor:pointer; 
}

.user-name{
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #212529;
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.user-profile-image{
  margin-left: 4px;
  margin-right: 8px;
}

.user-profile-image img{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin:0;
  object-fit: cover;
}

.user-post img {
  vertical-align: middle;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
}

.already-on-followear {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 140px;
  margin-bottom: 15px;
  width: 90%;
  min-width: 720px;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 22px;
}

.already-title{
  font-size: 42px;
  font-weight: 600;
}

.already-text{
  font-size: 22px;
  margin-top: 24px;
  max-width: 700px;
  flex-wrap: wrap;
  text-align: center;
  display: none;
}


//   .carousel-cards {
//       flex: 0 0 33.333333%;
//       max-width: 33.333333%;
//       position: relative;
//       width: 100%;
//       padding-right: 15px;
//       padding-left: 15px;
//   }
//   .carousel-inner .carousel-item-right.active,
// .carousel-inner .carousel-item-next {
//   transform: translateX(33.333%);
// }

// .carousel-inner .carousel-item-left.active, 
// .carousel-inner .carousel-item-prev {
//   transform: translateX(-33.333%);
// }
  
  
//   @media screen and (max-width: 940px){
//   .carousel-cards {
//       flex: 0 0 50%;
//       max-width: 50%;
//       position: relative;
//       width: 100%;
//       padding-right: 15px;
//       padding-left: 15px;
//   }
//   .carousel-inner .carousel-item-right.active,
// .carousel-inner .carousel-item-next {
//   transform: translateX(50.00%);
// }

// .carousel-inner .carousel-item-left.active, 
// .carousel-inner .carousel-item-prev {
//   transform: translateX(-50.00%);
// }
//   }


@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */


.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.333%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.333%);
}


.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
transform: translateX(0);
}

.carousel-container{
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.carousel-wrapper {
  width: 90%;
  min-width: 720px;
}

.carousel-item{
  height: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.carousel-control-prev, .carousel-control-next{
  opacity: 1;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-size: 16px 16px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
  background-color: white;
  color: black;
}

.carousel-control-prev-icon {
  background-image: url("../../../assets/arrow-point-to-left.svg");
  transform: translateX(-12px);
  background-position: 40% 50%;
}

.carousel-control-next-icon {
  background-image: url("../../../assets/arrow-point-to-right.svg");
  transform: translateX(12px);
  background-position: 54% 50%;
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
  background-color: #eaeaea;
}

.card.card-body{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 15px #0000001A;
  border-radius: 18px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: none;
  align-items: center;
}

.card-item{
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.content-wrapper{
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
}

.user-posts{
  margin-top: 32px;
}

.image-container{
  margin-right: 12px;
  width: calc(33% - 8px);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 48%;
  border-radius: 7px;
  cursor: pointer;
}

.image-container:nth-child(3) {
  margin-right: 0;
}

.user{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.user-section{
  display: flex;
  flex-direction: row;
  width:100%;
}

.user-info{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  margin-left: 16px;
  cursor: pointer;
}

.user-info .user-name {
  font-size: 16px;
  margin-left: 0;
  margin-bottom: 4px;
}

.user-followers{
  color: #808080;
  font-size: 12px;
}

img.profile-image{
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
  max-width: none;
  cursor: pointer;
}

img.img-fluid{
  margin-right: 10px;
  border-radius: 8px;
}

.user-posts :nth-last-child(1){
  margin-right: 0;
}

.follow{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

button.follow-button{
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  outline: none;
  background: -webkit-linear-gradient(60deg,rgba(255,80,170,.9) 20%,rgba(244,129,255,.95) 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 8px 17px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

.explore-section{
  display: flex;
  justify-content: center;
  color: #7F7EFF;
  font-weight: bold;
  font-size: 26px;
  cursor: pointer;
  margin-top: 36px;
}

i.far.fa-angle-right{
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-left: 10px;
}

.third-slide{
  margin-top: 70px;
  padding-top: 70px;
  margin-bottom: 70px;
  padding-bottom: 70px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #fff, #fff),linear-gradient(to bottom, #f8f8f8, #f8f8f8);
  background-position: 0 0, 0 50%;
  background-size: 100% 50%, 100%, 50%;
}

.content-third-slide{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 82%;
  min-width: 740px;
  box-shadow: 0px 0px 54px 0px rgba(32,33,37,0.06);
  background-color: white;
  min-height: 460px;
}

.content-right {
  height: 100%;
  width: 50%;
}

.content-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
}

.third-slide .content-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.third-slide .main-sentence {
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
}

.third-slide .extra-content {
  font-size: 20px;
}

.wrapper.forth-slide{
  margin-top: 60px;
  width: 80%;
  min-width: 760px;
  justify-content: center;
  height: auto;
  min-height: fit-content;
  margin-bottom: 108px !important;
}

.content.forth-slide{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  padding-right: 0;
}

.content-right.forth-slide{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 40px;
}

.forth-slide .content-left {
  justify-content: flex-end;
  padding: 0 42px;
}

.main-sentence.forth-slide{
  font-size: 40px;
}

img.save{
  height: 560px;
}

.app-store-button{
  margin-top: 49px;
  cursor: pointer;
}

// .fifth-slide {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   width: 100%;
//   margin-top: 64px;
//   margin-bottom: 64px;

//   display: none;
// }

// .fifth-slide .content {
//   display: flex;
//   justify-content: center;
//   width: 80%;
//   margin-left: auto;
//   margin-right: auto;
//   padding-right: 0;
//   padding-top: 80px;
//   padding-bottom: 80px;
//   background-color: hsl(240, 100%, 94%);
//   border-radius: 28px;
// }

// .fifth-slide .main-sentence {
//   font-size: 46px;
// }

// .buttons-container {
//   margin-top: 92px;
// }

// .fifth-slide span.btn.signup.lower {
//   padding: 16px 42px;
// }


.footer {
  width: 100%;
  border-top: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
}

.footer .content {
  width: 80%;
  min-width: 720px;
  margin-top: 40px;
  margin-bottom: 24px;
}

.row {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 40px;
}

.row.first {
  margin-bottom: 60px;
}

.row.first .logo {
  height: 36px;
}

.row.second div {
  display: inline;
}

.footer span.btn.signup.lower {
  font-size: 18px;
  font-weight: bold;
  margin-left: 92px;
}

.footer span.btn.signup.lower.sign-in {
  background-clip: text;
  -webkit-background-clip: text;
  border: 2px solid #fe6fd8;
  color: transparent;
}

.row.three {
  margin-bottom: 10px;
}

.row.three span {
  color: #b5b6ba;
}

@media  (max-width: 600px)  {
  
  * {
    min-width: unset !important;
  }

  .content-container {
    min-width: unset;
  }

  nav {
    height: 62px;
    border-bottom: 1px solid #efefef;
  }

  .fw-navbar {
    width: 87%;
    min-width: unset;
  }

  img.logo {
    height: 30px;
  }

  .action-buttons span {
    width: unset;
    font-size: 18px;
    font-weight: 600;
  }

  .wrapper {
    flex-direction: column;
    width: 90%;
    min-height: unset;
    margin-top: 108px;
  }

  .content {
    width: 100%;
    margin-top: 0;
    padding: 0;
    text-align: center;
  }

  .main-sentence {
    font-size: 40px;
    font-weight: 400;
  }

  .main-sentence.sub-header{
    font-weight: 600;
  }

  .extra-content {
    font-size: 18px;
    margin-top: 28px;
  }

  .sign-up-button {
    margin-top: 34px;
  }

  .slots-container {
    width: 100%;
    position: relative;
    margin-top: 42px;
    min-height: 320px;
  }

  .mobile-card-wrapper-container {
    position: absolute;
    min-width: 450px !important;
    right: 50%;
    transform: translateX(51%);
  }

  .card-wrapper {
    width: 132px;
    position: relative !important;
    display: inline-block;
    margin-right: 24px;
  }

  .user-name {
    font-size: 11px;
  }

  .user-profile-image {
    margin-right: 4px;
  }

  .user-profile-image img {
    width: 24px;
    height: 24px;
  }

  .card-wrapper:nth-child(1) {
    left: 0px;
    top: 0px;
  }

  .card-wrapper:nth-child(2) {
    left: 0px;
    top: 68px;
  }

  .card-wrapper:nth-child(3) {
    left: 0px;
    top: 0px;
    margin-right: 0;
  }

  .card-wrapper:nth-child(4), .card-wrapper:nth-child(5) {
    display: none;
  }

  .already-on-followear {
    margin-top: 32px;
  }

  .already-title {
    font-size: 32px;
  }

  .carousel-container {
    margin-top: 24px;
  }

  .explore-section {
    margin-top: 28px;
  }

  .third-slide {
    background-image: url("../../../assets/look-at-this-dress.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    color: white;
    text-align: left;
    justify-content: left;
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 60px;
    margin-top: 76px;
    margin-bottom: 64px;
  }

  .third-slide .main-sentence {
    font-size: 38px;
    line-height: 48px;
  }

  .third-slide .sign-up-button {
    margin-top: 122px;
  }

  .wrapper.forth-slide {
    width: 90%;
  }

  .forth-slide.content {
    flex-direction: column;
    margin-top: 14px;
  }

  .main-sentence.forth-slide {
    font-size: 34px;
  }

  .iphone-container {
    margin-top: 32px;
  }

  img.save {
    width: 245px;
    height: unset;
  }

  .forth-slide .extra-content {
    font-size: 21px;
    margin-top: 32px;
  }

  div.app-store-button {
    margin-top: 40px;
  }

  .footer .content {
    width: 100%;
    margin-top: 34px;
    padding: 0 18px;
  }

  .footer .logo {
    height: 34px;
  }

  .row.first {
    margin-bottom: 42px;
  }

  .apps-column img {
    width: 10rem;
  }

  .row.second {
    display: flex;
  }

  .row.three {
    margin-bottom: 0;
  }

  .footer span.btn.signup.lower {
    margin-left: 0;
    width: 8rem;
    height: 3rem;
    line-height: 2.75rem;
    padding: 0;
    vertical-align: middle;
  }

  .row.second > span:nth-child(1) {
    margin-right: 24px;
  }
}




